/* @license
 * MyFonts Webfont Build ID 2583428, 2013-06-18T14:09:06-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Wilma Base by Type-Ø-Tones
 * URL: http://www.myfonts.com/fonts/typeotones/wilma/base/
 * Copyright: Copyright (c) 1995-2013 Type-O-Tones. v 2.5 by Enric Jardi. Barcelona. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2583428
 * 
 * © 2013 MyFonts Inc
*/

/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/276b84");

@font-face {
	font-family: 'Wilma-Base';
	src: url('wilma/276B84_0_0.eot');
	src: url('wilma/276B84_0_0.eot?#iefix') format('embedded-opentype'),url('wilma/276B84_0_0.woff') format('woff'),url('wilma/276B84_0_0.ttf') format('truetype'),url('wilma/276B84_0_0.svg#wf') format('svg');
}
 