Bonjour,

[(#ENV*{message_retour}|propre)]

<p>Voici les informations que vous nous avez transmises:</p>

#VOIR_SAISIES{#ENV*{saisies}, #ENV*{valeurs}}

<p>En cas d'erreur de saisie, merci de contacter notre billetterie:</p>

<p>Tél. +41 (0)22 321 21 76<br>
Email: reservation@galpon.ch</p>

~~~
<p><b>Théâtre du Galpon</b><br>
Au Pied du Bois de la Bâtie<br>
Sur les bords de l'Arve<br>
2, Route des Péniches<br>
CP 100 - 1211 Genève 8<br>
<a href="http://www.galpon.ch">www.galpon.ch</a></p>