[<p class='formulaire_ok'>(#ENV*{message_ok})</p>]
[<p class='formulaire_erreur'>(#ENV*{message_erreur})</p>]

#SET{array_dates,#ARRAY}

[(#REM) <!-- 
			Créer une liste de dates pour le spectacle actuel 
			Opérations: 
			- On teste si event_complet est "on"
			- On affiche les remarques 
			
			VOIR:
			http://contrib.spip.net/Reference-des-saisies?lang=fr
			
			--> ]

<BOUCLE_dates_spectacle(EVENEMENTS){par date} {id_article=#ENV{id_article}}>
		[(#EVENT_COMPLET|!={on}|?{'<!-- 
								Complet: NON 
								-->',''
					})[(#REM) <!--  Complet: NON; On définit la variable "date_spectacle" avec #SET{variable,valeur}. --> ]			
						[(#DATE_DEBUT
									|heures
									|=={00}
									|?{'<!--00-->',[(#SET{date_spectacle, [(#DATE_DEBUT|nom_jour) ][(#DATE_DEBUT|affdate_jourcourt)][ – (#DATE_DEBUT|affdate{"H\hi"})]})]
										[(#SET{date_code, jour #COMPTEUR_BOUCLE: [(#DATE_DEBUT|affdate{'d.m.Y'})]})]
										[(#REM) <!--  On ajoute la variable "date_spectacle" au ARRAY. --> ]
									[(#SET{array_dates,#GET{array_dates}
												|array_merge{#ARRAY{#GET{date_spectacle},#GET{date_spectacle}}}
										})]
									})]						
		]
		
</BOUCLE_dates_spectacle>

<BOUCLE_event_remarque(EVENEMENTS){par date}{id_article=#ENV{id_article}}{0,1}>
		[(#EVENT_REMARQUE|?{[(#SET{event_remarque,#EVENT_REMARQUE})],''})]
</BOUCLE_event_remarque>

	
[(#EDITABLE|oui)
<form action='#ENV{action}' method='post' class='form-reservation'>
    #ACTION_FORMULAIRE{#ENV{action}}
    
    <ul class="formulaire infos-perso">
   			
   			[(#REM) <!-- Nom --> ]
   			[(#SAISIE{input, nom,
   							label=Nom,
   							type=text,
   							obligatoire=oui,
   							class=align}
   			)]
   			
   			[(#REM) <!-- Prénom --> ]
   			[(#SAISIE{input, prenom,
   							label=Prénom,
   							type=text,
   							obligatoire=oui}
   			)]
   			
   			[(#REM) <!-- Courriel --> ]
        [(#SAISIE{input, email,
        				label=Adresse e-mail,
        				type=email,
        				obligatoire=oui}
        )]
        
        [(#REM) <!-- Telephone --> ]
        [(#SAISIE{input, telephone,
        				label=Téléphone,
        				type=tel,
        				obligatoire=oui}
        )]
        
     </ul>
     
     <ul class="formulaire infos-spectacle">
        
        [(#REM) <!-- Champ masqué avec nom du Spectacle --> ]
        [(#SAISIE{hidden, nom_spectacle,
        				label=Nom du spectacle,
        				defaut=#ENV{titre}
        				}
        )]
        
        [(#REM) <!-- Dates --> ]
        [(#SAISIE{selection, spectacles}
                {label=Représentations}
                {option_intro=Sélectionnez la représentation}
                {obligatoire=oui}
                {datas=#GET{array_dates}
                }
        	)]
        
        [(#REM) <!-- Nombre de places --> ]
        [(#SAISIE{input, nombre_de_places, 
        				label=Nombre de places, 
        				obligatoire=oui,
        				type=number,
        				defaut=1,
        				size=2,
        				maxlength=2}
        )]
        
        
        [(#REM) <!-- Abo Newsletter --> ]
        [(#SAISIE{case, abo_newsletter, 
        				label_case=Je souhaite recevoir la newsletter du Galpon, 
        				obligatoire=non,
        				}
        )]
        
        [(#REM) <!-- Champ Explications --> ]
        [(#SAISIE{explication, commentaire_spectacle,
        				li_class=remarque,
        				texte=#GET{event_remarque},
        				}
        )]
        
		</ul>
				        
        <div class="informations">
        
	        <p class="important">Vous recevrez une confirmation dès que votre réservation sera validée.</p>
	        <p>Les <b>réservations</b> se font au plus tard <b>2 heures avant le début de l’événement</b> (paiement en espèces uniquement).</p>
	        <p>Les <b>billets</b> sont à retirer au plus tard <b>20 minutes</b> avant la représentation directement au Galpon.</p>
        </div>
        
        <input type='submit' name='ok' value='Réserver' class="submit-button" />
</form>
]
