
/* <!-- */

/* --- YUI CSS reset + fonts + base ---
Copyright (c) 2009, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.net/yui/license.txt
version: 2.8.0r4
*/

/* @group CSS reset */

/*--YUI CSS reset--*/
html{color:#000;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var,optgroup{font-style:inherit;font-weight:inherit;}del,ins{text-decoration:none;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:baseline;}sub{vertical-align:baseline;}legend{color:#000;}input,button,textarea,select,optgroup,option{font-family:inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}input,button,textarea,select{font-size:100%;}
/*--YUI CSS fonts--*/
body{font:13px/1.231 arial,helvetica,clean,sans-serif;
*font-size:small;*font:x-small;}
select,input,button,textarea,button{
font:99% arial,helvetica,clean,sans-serif;}
table{font-size:inherit;font:100%;}
pre,code,kbd,samp,tt{font-family:monospace;
*font-size:108%;line-height:100%;}

/* @end */

/* @group CSS base */

/*--YUI CSS base--*/
h1{font-size:138.5%;}
h2{font-size:123.1%;}
h3{font-size:108%;}
h1,h2,h3{margin:1em 0;}
h1,h2,h3,h4,h5,h6,strong,dt{font-weight:bold;}
optgroup{font-weight:normal;}abbr,acronym{border-bottom:1px dotted #000;cursor:help;}em{font-style:italic;}del{text-decoration:line-through;}blockquote,ul,ol,dl{margin:1em;}ol li{list-style:decimal outside;}dl dd{margin-left:1em;}th,td{border:1px solid #000;padding:.5em;}th{font-weight:bold;text-align:center;}caption{margin-bottom:.5em;text-align:center;}sup{vertical-align:super;}sub{vertical-align:sub;}p,fieldset,table,pre{margin-bottom:1em;}button,input[type="checkbox"],input[type="radio"],input[type="reset"],input[type="submit"]{padding:1px;}

/* @end */
/* --- end of Yahoo! YUI CSS library --- */

/* @group MJT framework */

/* -- Start MJT Framework-- 
Copyright (c) Matthew James Taylor
http://matthewjamestaylor.com/blog/perfect-stacked-columns.htm
This layout is FREE for anyone to use --
*/
#layoutdims{clear:both; background:#eee; border-top:4px solid #000; margin:0; padding:6px 15px !important; text-align:right}
.colmask{position:relative; clear:both; float:left; width:100%; overflow:hidden}
.colleft, 
.colmid, 
.colright{float:left; width:100%; position:relative}
.col1, 
.col2, 
.col3{float:left; position:relative; padding:0 0 1em 0; overflow:hidden}
.threecol{background:#eee}
.threecol .colmid{right:25%; background:#fff}
.threecol .colleft{right:50%; background:#f4f4f4}
.threecol .col1{width:46%; left:102%}
.threecol .col2{width:21%; left:31%}
.threecol .col3{width:21%; left:85%}
.blogstyle{background:#eee}
.blogstyle .colmid{right:25%; background:#f4f4f4}
.blogstyle .colleft{right:25%; background:#fff}
.blogstyle .col1{width:46%; left:52%}
.blogstyle .col2{width:21%; left:56%}
.blogstyle .col3{width:21%; left:60%}
.leftmenu{background:#fff}
.leftmenu .colleft{right:75%; background:#f4f4f4}
.leftmenu .col1{width:71%; left:102%}
.leftmenu .col2{width:21%; left:6%}

/*custom code modification*/
.leftmenu .colleft{right:82%; background:#ddd}
.leftmenu .col1{width:67%; 
left:102%; /*position...*/
border:0px solid green;}
.leftmenu .col2{width:17%; left:15%;
border:0px solid blue;}

.rightmenu{background:#eee}
.rightmenu .colleft{right:25%; background:#fff}
.rightmenu .col1{width:71%; left:27%}
.rightmenu .col2{width:21%; left:31%}
.doublepage{background:#eee}
.doublepage .colleft{right:50%; background:#fff}
.doublepage .col1{width:46%; left:52%}
.doublepage .col2{width:46%; left:56%}
.fullpage{background:#fff}
.fullpage .col1{width:96%; left:2%}
#footer{clear:both; float:left; width:100%; border-top:1px solid #000}
#footer p{padding:10px; margin:0}
/*END MJT FRAMEWORK*/

/* @end */

/* @group General Styles */

/* General styles */

html, body {
	margin:0;padding:0;
	border:0;
	font-size:90%;
	text-align:center;}

html, body {
	background:#cc0000;
	background-image:url('images/vertical4.jpg');
	}
	
h1, h2, h3 {margin:.8em 0 .2em 0;padding:0;}

p {margin:.4em 0 .8em 0;padding:0;}

img {margin:10px 0 5px;}

/* General Layout */

#fixed {
	margin:0px auto 0px auto;
	width:960px;
	text-align:left;
	position:relative;   
   background-color:#fff;
   border-top:15px solid black;
   border-bottom:0px solid yellow;
   z-index:1;
}

/* General Typography */

a {color:#cc0000;}
a:hover {
	color:#fff;
	background:#cc0000;
	text-decoration:none;}
	
.serif,
#article, #rubrique {font-family: "Century Schoolbook", "Hoefler Text", Palatino, Garamond, "Palatino Linotype", serif;
font-size:110%;}

#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header h1 {
	font-family:Garamond, "Hoefler Text", Palatino, "Palatino Linotype", serif;
	font-size:330%;
}
#header a.accueil {text-decoration:none;
background:transparent;}

/*list-styles*/

#article-content div.col1 ul li {
list-style-type: disc;
line-height:1.5em;
}

/* @end */

/* START CUSTOMISATION */

/* @group Header */

/* Header styles */
#header {
	clear:both;
	width:100%;
	min-height:250px;
	position:relative;
	height:auto;
	padding:0;margin:0;
	padding-bottom:0;
	/*padding-bottom:10px;*/
	border-bottom:0px solid #000;
	background-color:#ddd;
}

#header-bar {
background:rgb(20, 20, 20);
background:rgba(20, 20, 20, 0.8);
min-height:38px;
position:absolute;
top:0;
left:0;
width:100%;
z-index:3;
}
#header-bar h1 {
float:left;
font-size:1.3em;
color:#eee;
padding:0.5em 0.4em 0.4em 0.4em;
margin-left:0em;
max-width:43em;
}
#header-bar h1 a, #header-bar h1 strong {
text-decoration:none;
color:#eee;
padding:0 0.5em;
background:none;
}
#header-bar h1 a:hover {
color:#bbb;}
#header-bar h1 a.homelink {
padding-left:0;}

#header-bar form {
float:right;
clear:none;
padding:7px 36px 0 0;
margin:0;
height:28px;
}

#header-bar input[type="text"]{
background:#ddd;color:#222;
font-family:'Century Schoolbook',Garamond,'Hoefler Text',Palatino,'Palatino Linotype',serif;
border:0;margin:0;padding:3px 3px 3px 5px;
height:18px;
}

#header-bar input[type="button"],
#header-bar input[type="submit"]{
border:0px solid #0f0;
background:#333;
background-image:url('images/loupe.gif');
margin:1px 0 0 0;
width:24px;
height:24px;
cursor:pointer;
display:block;
position:absolute;
right:12px;
top:6px;
z-index:2;
}

#header #head-img {
position:relative;
margin:0;padding:0;
top:0;left:0;
border:0px;
width:100%;
background:#000;
max-height:350px;
min-height:250px;
text-align:center;
}
div#head-img a,
div#head-img a img{
margin:0 auto;
padding:0;
border:0;}
div#head-img a img {
margin-bottom:-4px;
max-width:960px;
height:auto;}

div#head-logo {
position:absolute;left:0;bottom:0;
height:100%;width:48px;
border:0px solid yellow;
background:rgb(20, 20, 20);
background:rgba(20, 20, 20, 0.8);
background-image:url('images/logo_vertical7.png');
background-repeat:no-repeat;
background-position:left bottom;
}
div#head-logo a img {
width:48px;
height:100%;
border:0;
}
#header-bar {
left:48px;
width: /*960-48=*/ 912px;}
#header-bar h1 {max-width:40em;}

#texte-entete {
position:absolute;
top:1em;right:1.5em;width:21em;
text-align:right;
color:#fff;font-size:0.95em;}

#texte-entete div.chapo {
font-size:1.1em;
font-weight:bold;}
#texte-entete p {padding:0;line-height:1.3em;}
#texte-entete img.crypto {padding:0;margin:0;
vertical-align:middle;height:10px;}

/* @end */

/* @group MENUS */

/* **********************
   Menus - General Values
*********************** */

div.menu ul {margin:20px 0 10px 0px; padding:0;position:relative;}

div.menu ul li a {
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:left;
	background:#ccc;
	color:#000;
	text-decoration:none;
	line-height:1.3em;
	width:10em;}

div.menu ul ul li a {padding:0;background:#eee;}

div.menu ul li a:hover {
	background:#cc0000;
	color:#fff;}
div.menu ul li a.active,
div.menu ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;}
div.menu ul li a span {
	display:block;}

div.menu ul li a.on,
#centeredmenu div.menu ul ul li.on a {background:#990000;color:#fff;}

div.menu.general ul ul {display:none;}
div.menu.general ul ul.on,
div.menu.general li.submenu:hover ul.level2 {display:block;}

/* *****************
   MJT centered menu CSS
***************** */

#centeredmenu {
   float:left;
   position:absolute;
   left:54px;
   bottom:25px;
   clear:both;
   /*background:#fff;*/
   /*overflow:hidden;*/
   margin:0;padding:0;
   border:0px solid #0f0; /* black line below menu */
   /*width:100%;*/
   width:906px; /*960-54px*/
   z-index:1000;
   text-align:left;
}
#centeredmenu ul {
   clear:left;
   float:left;
   padding:10px 0 0 0px;
   margin:0;
   position:relative;
   text-align:left;
}
#centeredmenu ul li {
   display:block;
   float:left;
   position:relative;
   margin:0 0 0 1em;
   padding:5px 0px 5px 0.5em;
   width:8em; /*1em less, one item more*/
   top:0px;
   background:#ccc;
   font-weight:bold;
   color:#fff;
   background:rgb(20, 20, 20); /*IE...*/
   background:rgba(20, 20, 20, 0.8);
}
#centeredmenu.menu ul li a {
   display:block;
   margin:0 0 0 0px;
   padding:3px 0px 3px 0.5em;
   border:0;
   line-height:1.3em;   
   /*width:12em;*/
}

/* Submenu items */
#centeredmenu ul ul {
   display:none; /* Sub menus are hidden by default */
   position:absolute;
   margin:0;padding:0;border:0;
   left:0;
   padding-top:5px; /*same as padding of UL LI, above*/
   /*width:12em;
   border:1px solid yellow;*/
}
#centeredmenu.menu ul ul li {
   left:auto;  
   margin:0;
   width:12.5em;/*!IMPORTANT!must match with+padding below*/
   background:rgb(154, 154, 154);
   background:rgba(154, 154, 154, 0.6);
   padding-top:3px;
   padding-bottom:3px;
}

/* MENU DEROULANT */

#centeredmenu ul ul li a,
#centeredmenu ul li.active li a,
#centeredmenu ul li:hover ul li a,
#centeredmenu ul li.hover ul li a,
#centeredmenu ul ul.on li a {  /*???*/
font-weight:normal; 
background-image: url(images/little_arrow.gif);
background-repeat: no-repeat;
background-position: 9px 7px;
padding: 3px 0.5em 3px 2em; /*!!adds to the width of drop-downs!!*/
width:9.5em;
margin:0 0em 0 0px;
}

/*marges haut et bas*/   
#centeredmenu.menu ul ul li:first-child {padding-top:6px;}
#centeredmenu.menu ul ul li:last-child {padding-bottom:6px;}

/*!!! force le menu actif a rester visible !!!*/
/*#centeredmenu ul ul.on,
#centeredmenu ul ul.on li {display:block;}*/

#centeredmenu ul ul.on li a {}

/* Flip the last submenu so it stays within the page */
#centeredmenu ul ul.last {
   left:auto; /* reset left:0; value */
   right:0; /* Set right value instead */
}

/* Make the sub menus appear on hover */
#centeredmenu ul li:hover ul,
#centeredmenu ul li.hover ul { /* This line is required for IE 6 and below */
   display:block; /* Show the sub menus */
}

/* END OF CENTERED MENU STYLE */

/* *****************
   Menu Actualites
***************** */
div.actualites ul.actualites {border:0px solid blue;width:16em;
margin: 1em 0 10px 15px;
padding:0;
}
/*General Rules*/
div.actualites ul.actualites ul {
margin:0 0 0 8px;
padding:0;
}
div.actualites ul.actualites li {
margin:0;padding:0px;
line-height:1.5em;
width:12em;
}
/*top-level*/
ul.actualites li.top-level {
font-size:1.1em;
margin:0;
padding:0;
}
/*level-two*/
div.actualites ul.actualites li.top-level li.level-two {
margin:0;
padding:6px 0 0 0;
font-size:0.9em;
border:0px solid red;
}
/*link style*/
div.actualites ul.actualites li.top-level a,
div.actualites ul.actualites li.top-level li.level-two a {
text-decoration:none;
font-weight:bold;
margin:0;
padding:0;
}
div.actualites ul.actualites li.top-level li.level-two a {
padding:10px 0 20px 0;
}
/*small links*/
div.actualites ul.actualites li.top-level li.level-two li {
font-size:1em;
margin:0;}
div.actualites ul.actualites li.top-level li.level-two li a {
text-decoration:underline;
font-weight:normal;
padding:0;
}

/* @end */

/* @group Sommaire */

/* *****************
     Sommaire
**************** */
#rubrique.sommaire div.col1 {
padding-bottom:30px;
}
#rubrique.sommaire div.col1 .entry-content {
font-size:.95em;
}
/*ornaments*/
div.sommaire-bordure {
min-height:10px;
border:0px solid blue;
padding:0;
margin-top:10px;
margin-bottom:0;
text-align:center;
}
div.sommaire-bordure:last-child {
display:none;
}

/* @end */

/* @group Rubriques */

/* *****************
	 Rubriques
***************** */

/* Fil d'ariane */
div.col1.ariane {margin-top:1em;margin-bottom:1em;padding-left:10px;}

div.col1.ariane img {vertical-align:middle;}

/* *****************
	 Rubriques
***************** */
div#rubrique, div#article {
float:left;
position:relative;
padding:0;margin:0;
padding:25px;
width:910px;
background:#aaa;
background-image:url('images/verticalgrey3.jpg');
border:0px solid yellow;
}

#rubrique-content,
#article-content {
float:left;
position:relative;
min-height:200px;
background-image:url('images/Rubr_Bg4.png');
border:0px solid green;
width:100%;
}
#rubrique-content .col1,
#article-content .col1 {
position:relative;
float:right;
width:73%;
padding:15px;
}

#rubrique-content .col2,
#article-content .col2 {
float:left;position:relative;
width:202px;
}

/* @end */

/* @group Articles */

/* *****************
	 Articles
***************** */

div.articles li {clear:left;}

#article h1,
#rubrique h1 {color:#333;
font-size:140%;
margin-top:0;padding-top:0;
margin-bottom:1.3em;
}

#article div.chapo,
#rubrique div.chapo {
	font-size:120%;
	line-height:1.2em;
	font-style:italic;
	color:#555;
	padding-right:3em;
}
#article h3 { /*weird behavior next to floated images!!!*/
color:#333;/*font-size:120%;*/
/*width:auto;height:auto;*/
margin:1.3em 0 0.5em 0px;
padding:0;
max-height:2em;
clear:none;
}
#article div.chapo strong {font-weight:normal;}
#article div.texte {font-size:100%;}
#article div.texte p em {/*font-weight:bold;*/color:#444;}

/*citations*/

#article blockquote {
font-size:105%;
font-style:italic;
color:#555;
margin:1.5em 15px 1.5em 0em;
padding-left:48px;
background-image:url('images/quoteL2.gif');
background-repeat:no-repeat;
background-position:left top;
}
#article blockquote p {
background-image:url('images/quoteR2.gif');
background-repeat:no-repeat;
background-position:right bottom;
padding-right:40px;
}

div.col1 div.texte p {padding-right:25px;}

div.col1 p.soustitre {
font-size:110%;font-style:italic;
color:#444;margin-top:-10px;padding-top:0;
}

/* images */
div.articles li img.spip_logos,
#rubrique div.liste img.spip_logos,
#rubrique.sommaire img.spip_logos {
float:left;border:0;
margin:0 1.3em 10px 0;}

/*image a droite*/
#article div.surlignable img.spip_logos,
#rubrique div.surlignable img.spip_logos {
float:right;
/*margin:0 1.3em 0.5em 0;*/
margin:1.8em 1.8em 1em 1.8em;}

#article span.spip_documents_left img {padding:0;margin:0;}
#article span.spip_documents_left img,
#article span.spip_documents_right img {
max-width:100% !important;
height:auto !important;
}

#article span.spip_documents_left,
span.spip_documents_left {
margin:0.2em 1.3em 0.5em 0;
border:0px solid red;
max-width:50%;
height:auto !important;
}

#article span.spip_documents_right,
span.spip_documents_right {
max-width:50%;
height:auto !important;
}

/*lire la suite*/
a.minilien {
font-size:0.9em;
}
a.minilien-liste {
font-size:0.85em;
}

/* @end */

/* @group Barre laterale */

/* *****************
   Barre laterale
***************** */
ul.meme_rubrique li.on {
display:none;
}
div.col2 h2 {margin:15px 5px 0 15px;
padding:0;font-size:1.1em;color:#eee;
}
div.col2 h2 a {color:#ddd;text-decoration:none;}
div.col2 ul li {margin-left:10px;
padding:0.3em 0;}
div.col2 ul li a {color:#ddd;}
div.col2 h2 a:hover,
div.col2 ul li a:hover {background:none;color:#aaa;}

/*article actif*/
div.col2 ul li a.on {
text-decoration:none;
color:#aaa;
}

div.col2 ul ul li a.on,
div.col2 ul.meme_rubrique li a.on {
background-image:url('images/sidebar-arrows.png');
background-repeat:no-repeat;
background-position:right 4px;
padding-right:18px;
}

/* petit hack pour les RUBRIQUES, première catégorie sera selectionnee */
#rubrique div.col2 ul.meme_rubrique li:first-child a {
color:#aaa;text-decoration:none;
background-image:url('images/sidebar-arrows.png');
background-repeat:no-repeat;
background-position:right 4px;
padding-right:18px;
}

div.col2.rubrique div.rubriques.actualites,
div.col2.article div.rubriques.actualites{
border-top:1px solid #888;
width:100%;
}
#article .formulaire_crayon textarea {
background:#ddd !important;}

#dates {
color:#fff;
}

/* @end */

/* @group PIED DE PAGE */

/* *****************
   Pied de page 
***************** */
#footer{
padding-bottom:0px;
margin-bottom:0px;
border:0px solid blue;
border-bottom:1px solid black;
}

#pied {
color:#333;
background:#fff;
width:100%;
background:#fff url('images/arbre-fragment5.jpg') no-repeat right bottom;
border-bottom:15px solid black;
padding:0;margin:0;
	padding-bottom:0px;
	margin-bottom:0px;
}

/*Newsletter*/
#newsletter {
	border: 0px solid red;
	width: 280px;
	/*margin-left: 650px;*/
	margin-top: 15px;
	padding-top: 22px;
	clear: none;
	position: relative;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	padding:10px 10px 0px 10px;
	float: right;
	margin-right: 15px;
	margin-bottom: 15px;
}

#newsletter legend {
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 104%;
}
#newsletter .input-field {
	margin-bottom: 12px;
}
#newsletter .input-field input {
	float: right;
}
#newsletter .selecteur label {
	display: none;
}
#newsletter select {
	width: 180px;
	font-size: 90%;
	margin-top: 10px;
}
#newsletter .button {
	position: absolute;
	right: 10px;
	bottom: 15px;
	font-size: 110%;
	cursor: pointer;
}

#logo-pied {float:left;margin:10px 20px 0 25px;}
#logo-pied img {width:150px;}
#texte-pied {
	float:left;
	clear:none;
margin-top:8px;}
#texte-pied p {padding:0;}

img.crypto {padding:0;margin:0;
vertical-align:middle;}

#menu-pied {
float:left;
/*width:100%;*/
vertical-align:bottom;
clear:left;
}
#menu-pied p.liens {
margin-left:15px;
font-size:100%;
padding-top: 2px;
}

/*Signature*/
#menu-pied p.right {
display:none;
float:right;clear:none;
margin-right:5px;
color:#333;font-size:1em;
font-style:italic;
text-align:right;}
#menu-pied:hover p.right{
/*display:inherit;*/
}
#menu-pied p.right a {font-style:italic;
color:#222;}
#menu-pied p.right a:hover {
background:none;color:red;}
#menu-pied p.right span {
	padding:2px 5px;
	background-color:rgb(230,230,230);
background-color:rgba(230,230,230,0.9);}

/* @end */

/* @group Styles speciaux */

/******************
** STYLES, TYPO etc ***
**********************/

/*liens sortants*/
.col1 a.spip_out {
background-image: url(images/Ext_Link.gif);
background-position:center right;
background-repeat:no-repeat;
	padding-right: 13px;
}

/*documents joints*/
div.col1 div#documents_joints ul {
margin-top:5px;
}
div.col1 div#documents_joints ul li {
list-style-type:none;
line-height:2em;
background-image:url('images/finger4.gif');
background-repeat:no-repeat;
background-position:left 8px;
padding-left:30px;
}
div#documents_joints.menu ul li a {
color:#555;
background-color:transparent;
text-decoration:underline;
}
div#documents_joints.menu ul li a:hover {
color:#fff;
background-color:#c00;
}

/*Formulaire Contact*/
#formulaire_contact {
display:none;
margin-top:1em;
margin-left:15px;
}
#formulaire_contact input {
margin:4px 0;}

/*Recherche*/
div.recherche div.menu ul li {
margin:10px;}
div.recherche div.menu ul li a {
padding:1px;
}
div.recherche div.menu span.spip_surligne {
display:inline;font-weight:bold;
}
div.recherche p.soustitre {
color:#cc0000;font-size:1.4em;}

/*Bouton*/
#lien-reservation {
margin-top:25px;
}
#lien-reservation a,
#formulaire_contact input.submit-button {
font-size:100%;
margin-left:15px;
	padding:0.1em 0.6em 0.2em 0.6em;
	height: 2em;
	border: 1px solid #888;
	cursor: pointer;
	color:#333;
border-radius: 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
text-decoration:none;
background-color:#fff;
background-image: url("img/white-grad.png");
background-repeat: repeat-x;
background-attachment: scroll;
background-position: left top;
}
#lien-reservation a:hover,
#formulaire_contact input.submit-button:hover {
border: 1px solid #555;
background-color:#fff;
background-image: url("img/white-grad.png");
background-repeat: repeat-x;
background-attachment: scroll;
background-position: left top;
	color:#333;}
#lien-reservation a:focus,
#formulaire_contact input.submit-button:focus {
outline: 0;
}
select, input, button, textarea, button {
font-family: "Century Schoolbook", "Hoefler Text", Palatino, Garamond, "Palatino Linotype", serif;
}
#result {
padding-right:10px;
}
#dates div.description {
line-height:1.4em;
font-size:110%;
margin: 15px;
}

/* @end */

/* @group Thickbox Photos */

/* ***********
Thickbox Photos
************* */
#documents_portfolio {
margin-top:30px;
}

a.thickbox img {
padding:0;margin:0 6px 6px 0;
}
a.thickbox:hover {
padding:0;
background:none;
}
a#TB_ImageOff:focus, #TB_Image:focus {
outline: 0; /*for Safari...*/
}

/* @end */

/* @group Decoration */

/* ***********
  Decoration
************ */
#decoration {
position:fixed;
z-index:0;
top:0;left:0;
border:0px solid black;
width:100%;height:100%;
}
#sub-deco {
position:relative;
margin:0px auto;
border:0px solid yellow;
width:99%;
max-width:1024px;height:100%;
background-image:url('images/gradientC2.png');
background-repeat:repeat-y;
background-position:left top;
}
#sub-deco2 {
position:absolute;
top:0;right:0;
width:100%;
max-width:1024px;height:100%;
background-image:url('images/gradientC1.png');
background-repeat:repeat-y;
background-position:right top;
}

/* @end */

/* ***********
  Clear fix
************ */
#article-content h3:after,
.groupe:after {
content: ".";
display: block;
height:0;
clear:both;
visibility:hidden;
}

/* --> */