<div id="header">
	<div id="header-bar" class="header-bar">
		<div class="header-recherche">
		
			<INCLURE{fond=inc/inc-recherche}>
			
		</div>

		[(#REM) <!-- Nouvelle Saison --> ]
		<B_saison_a_venir>
				<ul id="saison-future" class="saison-future base-menu wilma ul-level-1 level-1 ul">
				<BOUCLE_saison_a_venir(RUBRIQUES) {tout} {par num titre, titre} {titre_mot=Saison à venir} {0,1}>
						<li class="li submenu first li-level-1 level-1[ level-1-(#EXPOSE)]">
							<a href="#URL_RUBRIQUE" class="a-level-1[ (#EXPOSE)]">Prochaine Saison</a>
						</li>		
				</BOUCLE_saison_a_venir>
				</ul>
		</B_saison_a_venir>
		[(#REM) <!-- End Nouvelle Saison --> ]
		
		<div id="new-logo" class="new-logo clear">
			<a rel="start home" href="#URL_SITE_SPIP/" class="accueil ablock"><img src="[(#CHEMIN{images/galpon-logo-2013.png}|direction_css)]" alt="Théâtre du Galpon" />
			
			<h1 class="header-slogan">Maison pour le travail des arts de la scène, au pied du Bois de la Bâtie, sur les bords de l'Arve</h1>
			</a>
		</div>
	</div><!--#header-bar-->		
	
	<div id="head-img" class="clear">
		<div id="centeredmenu" class="base-menu menu">
	   [(#REM) Menu de navigation par rubriques ]
			<INCLURE{fond=inc/inc-rubriques}{id_rubrique}{id_article}>
		</div><!--#centeredmenu-->
	</div><!--#head-img-->
</div><!--#header-->
