<BOUCLE_dates_spectacle(EVENEMENTS){par date} {id_article}{0,1}>

	[(#ID_EVENEMENT_SOURCE|=={0}|?{
			[(#REM) 
			<!-- 1: événement original, pas une répétition... -->
					]<div class="dates-horaires">
					
					[(#REM) <!-- Vérifier si le #DATES_PERSO est renseigné, sinon produire la date...  --> ]
					
					[(#DATES_PERSO|?{
							[(#SET{date_spectacle,
									[(#DATES_PERSO|propre)]
							})],
							[(#SET{date_spectacle,
									[(#INCLURE{fond=inc/inc-generation-date}{id_article}{env}|propre)]
							})]
					})]	
					
					[<div class="date-spectacle wilma">(#GET{date_spectacle}
							|replace{1er, 1<sup class="sup">er</sup>}
							|replace{1, <span class="kern1">1</span>}
					)</div>]
						
					
					[<div class="#EDIT{horaires_perso} horaire-spectacle wilma">(#HORAIRES_PERSO
							|propre
							|replace{1, <span class="kern1">1</span>}
					)</div>]
																		
					[(#REM) <!-- Vérifier aussi si la reservation est ouverte!  --> ]
						
						<!-- [<p class="places">places: (#PLACES)</p>] -->
						
					</div>,
			[(#REM) 
			<!-- 2: Répétition de date! On n'affiche rien -->
			   ]
	})]
	
</BOUCLE_dates_spectacle>