<BOUCLE_event_article(ARTICLES){id_article}>

		<div class="micro-bloc bloc-nr-[(#ENV{loop_count})] [(#ENV{loop_count}|=={1}|?{'first-bloc',''})][(#ENV{loop_count}|=={#ENV{loop_total}}|?{'last-bloc',''})] bloc-art-#ID_ARTICLE<BOUCLE_mots(MOTS){id_article}{type=2. Options de la Grille}>[ option-(#TITRE|replace{' ','-'})]</BOUCLE_mots>">
					
					 <div class="micro-bloc-text">
						 <a class="unstyled ablock" href="#URL_ARTICLE">
						 
							<h2 class="micro-title">#TITRE</h2>
							
							[<div class="soustitre wilma">(#SOUSTITRE|propre)</div>]
									
							[<div class="date-perso wilma">(#ENV{date_event}|replace{1,<span class="kern1">1</span>}|replace{–,<span class="microspace"> </span>–<span class="microspace"> </span>})</div>]
												
				[(#REM) <!-- Test if the short version exists... --> ]		
				
				[(#WHO_WHAT_ARTICLE|?{
				 	[<div class="who-what wilma">(#WHO_WHAT_ARTICLE|propre)</div>], 
				 	[<div class="who-what wilma">(#WHO_ARTICLE|propre)</div>]
				 	[<div class="who-what wilma">(#WHAT_ARTICLE|propre)</div>]
				})]
		
							</a>
						</div>
						
						[(#INCLURE{fond=inc/inc-decoupe}{id_article}{env})]
				
		</div><!-- .micro-bloc -->		
</BOUCLE_event_article>