<div id="pied" class="pied groupe">

	<div id="newsletter" class="hidden">
			<form method="post" action="http://admin.galpon.ch/mail/newsletter/user/process.php?sExternalid=c2d6f45d6c9f8bf76c543cf1dc8de5bf">
		<fieldset>
			<legend>Abonnez-vous à la newsletter</legend>
			<input name="formSubmitted" value="1" type="hidden">
				<div class="input-field">
					<label class="required" for="email">Votre courriel:</label>
					<input size="20" maxlength="60" name="Email" id="email" type="text">
				</div>
				<div class="input-field">
					<label for="field2">Votre nom:</label>
					<input size="20" name="d[2]" id="field2" type="text">
				</div>
				<div class="input-field">
					<label for="field4">Adresse postale:</label>
					<input size="20" name="d[4]" id="field4" type="text">
				</div>
				<div class="selecteur">
					<label for="field3">Veuillez cocher ce qui convient:</label>
					<select name="d[3]" id="field3">
					<option selected="selected" value="">Choisir ce qui convient</option>
					<option>public</option>
					<option>compagnie</option>
					<option>médias</option>
					<option>lieux et structures culturelles</option>
					<option>écoles</option>
					</select>
				</div>
			</fieldset>
			<div class="button">
					<input name="pommo_signup" value="true" type="hidden">
					<input name="pommo_signup" value="S'abonner" type="submit">
			</div>
		</form>	
	</div><!--#newsletter-->


<div class="base-menu footer-menu menu">
	<ul class="ul-level-1 level1 ul wilma">
		
		<BOUCLE_rubriques(RUBRIQUES) {racine} {tout} {par num titre, titre} {id_rubrique IN 6,9,4}>
				<li class="li submenu li-level-1 level-1[ level-1-(#EXPOSE)]">
					<a href="#" class="a-level-1">[(#TITRE)]</a>
					
					<INCLURE{fond=inc/inc-sous-rubriques}{id_rubrique}{id_article}{env}>
		
				</li>
			</BOUCLE_rubriques>
		
		</B_rubriques>
	
	</ul>
	<B_rubriques>
	
</div><!-- .footer-menu -->


	
</div><!-- #pied -->

[(#REM)
	<!-- background css -->
]
		[(#INCLURE{fond=inc/inc-background})]
		
[(#REM)
	Cette balise permet de deporter les calculs lourds (indexation etc)
	dans une image cachee, ce qui evite de ralentir l'affichage des pages.
]#SPIP_CRON
