<form action="#URL_SITE_SPIP/spip.php?page=recherche" method="get">
<fieldset>
<input name='page' value='recherche' type='hidden' style="margin:0;padding:0;" />
	<!--<label for="recherche">Rechercher</label>-->
	<input class="text" type="text" name="recherche" value="Rechercher" onfocus="this.value='';" style=""/>
	<!-- onfocus="this.value='';"-->
	<input class="submit" type="submit" name="rechbutton" value="" style="" />
</fieldset>
</form>