[(#REM)
	Barre de navigation, ouverte sur la hierarchie courante

	On fait un plan, et, quand on avance vers une rubrique,
	on l'affiche si son parent est expose ou est la racine du site. ]

<div class="menu rubriques general wilma">
	<ul class="ul-level-1 level-1 ul">
	
[(#REM)
	<!-- La Saison Actuelle (via mot-clé) -->
]	
<B_saison_actuelle>
		<BOUCLE_saison_actuelle(RUBRIQUES) {tout} {par num titre, titre} {titre_mot=Saison Actuelle} {0,1}>
				<li class="li submenu first li-level-1 level-1[ level-1-(#EXPOSE)]">
					<a href="#URL_RUBRIQUE" class="a-level-1[ (#EXPOSE)]">[(#TITRE)]</a>
				</li>		
		</BOUCLE_saison_actuelle>
</B_saison_actuelle>
	
[(#REM)
	<!-- Les rubriques du premier menu:
	- Publics
	- Galpon
	- Formation
	- Contact/Réservation
	 -->
]	
<B_rubriques>

	<BOUCLE_rubriques(RUBRIQUES) {racine} {tout} {par num titre, titre} {id_rubrique IN 135,139,22,7,23,141}>
		<li class="li submenu li-level-1 level-1[ level-1-(#EXPOSE)]">
			<a href="#" class="a-level-1">[(#TITRE)]</a>
			
			<INCLURE{fond=inc/inc-sous-rubriques}{id_rubrique}{id_article}{env}>

		</li>
	</BOUCLE_rubriques>

	
</B_rubriques>

</ul>
</div><!-- .menu .rubriques -->