<div id="lien-reservation"><a href="#formulaire_contact">Faire une réservation</a></div>

<div id="formulaire_contact">
	<div id="result">
	  <form method="post" action="/formmail/formmail-ajax.py" id="feedbackform" accept-charset="UTF-8">
	  <BOUCLE_titre(RUBRIQUES) {id_rubrique}>
		<input size="100" type="text" name="Piece" value="[(#TITRE)]" style="display:none;">
		</BOUCLE_titre>
		Date: <input size="10" type="text" name="Date"><br />
		Nbre de places: <input size="5" type="text" name="Nombre de places"><br />
		Nom et prénom:<br />
		<input type="text" name="Nom et Prenom">
		<br />
		Téléphone: <input size="20" type="text" name="Telephone"><br /> 
		Email:   <input type="text" name="Email">
		<br /> 
		<input type="submit" value="Envoyer" onClick="senddata(); return false">
	  </form>
	</div><!--#result-->
</div><!--#formulaire_contact-->