[(#REM) <!-- On veut les EVENEMENTS de la rubrique actuelle, et de ses sous rubriques --> ]
	
	<B_events_rubr>
	<BOUCLE_events_rubr(EVENEMENTS) {branche} {par date}{doublons}>
				
					#SET{date_event,#DATES_PERSO}
					#SET{loop_count,#COMPTEUR_BOUCLE}
					#SET{loop_total,#TOTAL_BOUCLE}
					
					[(#DATE_DEBUT|jour|=={[(#DATE_FIN|jour)]}|?{
							  	[(#SET{date_auto,
							  			[(#DATE_DEBUT|affdate{'d.m.y'})]
							  	})],
					  [(#DATE_DEBUT|annee|=={[(#DATE_FIN|annee)]}|?{
							    [(#SET{date_auto,
							    		[(#DATE_DEBUT|affdate{'d.m'})][–(#DATE_FIN|affdate{'d.m.y'})]
							    })] ,
							    [(#SET{date_auto,
							    		[(#DATE_DEBUT|affdate{'d.m.y'})][–(#DATE_FIN|affdate{'d.m.y'})]
							    })]   
					  })]   
					})]
					
					[(#REM) <!-- 
					
					Possibilities:
					
					1) #DATES_PERSO may be defined
						
						- if yes, test if #DATES_FLOUES are defined
								 - if yes, output date_event
								 - if no, output automatic date (date_event = date_auto)
					 
					 - if no, output automatic date (date_event = date_auto)
					 
					 --> ]
					 
					 [(#DATES_PERSO|?{
							[(#DATES_FLOUES|?{
									'', 
									[(#SET{date_event,[(#GET{date_auto})]})]
							})], 
					 		[(#SET{date_event,[(#GET{date_auto})]})]
					 })]
					
					
					<BOUCLE_event_article(ARTICLES){id_evenement}{doublons}>
											
						[(#INCLURE{fond=inc/inc-microbloc}{id_article}
							{date_event=#GET{date_event}|typo}
							{loop_count=#GET{loop_count}}
							{loop_total=#GET{loop_total}}
							{env}{doublons}
						)]
								
					</BOUCLE_event_article>
					
	</BOUCLE_events_rubr>
		<!-- Code optionnel après -->
	</B_events_rubr>
	 [(#REM) <!-- s'il n'y a aucun élément, chercher les articles de la même rubrique ... --> ]
	 

			<B_articles_sinon>
		 		<BOUCLE_articles_sinon(ARTICLES){id_rubrique}{par num titre, titre}{doublons}>
		 			
		 			[(#INCLURE{fond=inc/inc-microbloc}{id_article}
		 				{date_event=#GET{date_event}|typo}
		 				{loop_count=#GET{loop_count}}
		 				{loop_total=#GET{loop_total}}
		 				{env}{doublons}
		 			)]
		 			
		 		</BOUCLE_articles_sinon>
	 		</B_articles_sinon>
	 			 		
	<//B_events_rubr>
