#CACHE{360}

<B_docuImg>
	<style>
	<BOUCLE_docuImg(DOCUMENTS){id_article=305}{statut IN prop,prepa,publie,refuse,poubelle}{par hasard}{extension==jpg|png|gif}{0,1}>
				
		html, body {
		background-image: url('#URL_SITE_SPIP/#FICHIER');
		background-attachment: fixed;
		/*background-size: 100% auto;
		background-attachment: fixed;
		-moz-background-size: auto auto;*/
			}
			
	</BOUCLE_docuImg>
	</style>
</B_docuImg>
<//B_docuImg>

