<B_lesevenements>
		<div id="dates">
			<h2 class="spip">Représentations</h2>
			<ul class="spip">
			<BOUCLE_lesevenements(EVENEMENTS) {par date} {id_rubrique} {age<1}>
			<li class="spip">
			   [(#DATE_DEBUT|jour|=={[(#DATE_FIN|jour)]}|?{
			  [(#DATE_DEBUT|nom_jour)] [(#DATE_DEBUT|affdate_jourcourt)][ <br/> (#DATE_DEBUT|heures)][h(#DATE_DEBUT|minutes)],
			  du [(#DATE_DEBUT|nom_jour)] [(#DATE_DEBUT|affdate_jourcourt)] 
			 au 
			[(#DATE_FIN|nom_jour)]
			  [(#DATE_FIN|affdate_jourcourt)]   })]
			</li>
			</BOUCLE_lesevenements>
			</ul>
				<BOUCLE_descript(EVENEMENTS) {par date} {id_rubrique} {0,1}>
			  [<div class="description">(#DESCRIPTIF)</div>]
			  	</BOUCLE_descript>
			
		<BOUCLE_formulres(RUBRIQUES) {id_rubrique}>
		[(#FORMULRESERV|?{
						[<div id="lien-reservation"><a href="#formulaire_contact">Faire une réservation</a></div>
						
						<div id="formulaire_contact">
							<div id="result">
							  <form method="post" action="/formmail/formmail-ajax.py" id="feedbackform" accept-charset="UTF-8">
								<input size="100" type="text" name="Piece" value="(#TITRE)" style="display:none;">
								Date: <input size="10" type="text" name="Date"><br />
								Nbre de places: <input size="5" type="text" name="Nombre de places"><br />
								Nom et prénom:<br />
								<input type="text" name="Nom et Prenom">
								<br />
								Téléphone: <input size="20" type="text" name="Telephone"><br /> 
								Email:   <input type="text" name="Email">
								<br /> 
								<input type="submit" value="Envoyer" onClick="senddata(); return false">
							  </form>
							</div><!--#result-->
						</div><!--#formulaire_contact-->],
						 "<!--formulaire inactif-->"
						 })]
		</BOUCLE_formulres>		 

		</div><!--#dates-->
</B_lesevenements>

