<B_sous_rubriques>
<ul class="ul-level2 ul level2">

	<BOUCLE_sous_rubriques(RUBRIQUES) {id_parent=#ID_RUBRIQUE} {par num titre, titre}>
	
			<BOUCLE_articles_avant(ARTICLES){id_rubrique=#ID_PARENT}{par num titre}{doublons avant}>
			<li class="pre li"><a href="#URL_ARTICLE"[ class="(#EXPOSE)"]>#TITRE</a>
			</li>
				</BOUCLE_articles_avant>
				
		<li class="sub li"><a href="#URL_RUBRIQUE"[ class="(#EXPOSE)"]>[(#TITRE|couper{80})]</a></li>
		
	</BOUCLE_sous_rubriques>
</ul>
</B_sous_rubriques>

[(#REM)
	<!--
		**Code HTML alternatif : pas de rubrique, il n'y a que des articles
		-->
]	

			<ul class="ul-level2 ul level2">
			<BOUCLE_articles_sinon(ARTICLES){id_rubrique}{par num titre}{doublons avant}>
				<li class="article li"><a href="#URL_ARTICLE"[ class="(#EXPOSE)"]>#TITRE</a></li>
			</BOUCLE_articles_sinon>
			</ul>
			
<//B_sous_rubriques>