[(#REM)
	Head standard de toutes les pages ; les elements specifiques
	(title, description) figurent dans le squelette article.html
]
<meta name="generator" content="SPIP[ (#SPIP_VERSION)]" />
<meta name="keywords" content="Théâtre du galpon, Genève" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<!--
/*
 * Webfonts Licenses for: 
 * 
 * Wilma - (c) 1995-2013 Type-O-Tones. v 2.5 by Enric Jardi, Barcelona. Purchased via MyFonts.
 */


/*
 * Web Fonts from fontspring.com
 *
 * All OpenType features and all extended glyphs have been removed.
 * Fully installable fonts can be purchased at http://www.fontspring.com
 *
 * The fonts included in this stylesheet are subject to the End User License you purchased
 * from Fontspring. The fonts are protected under domestic and international trademark and 
 * copyright law. You are prohibited from modifying, reverse engineering, duplicating, or
 * distributing this font software.
 *
 * (c) 2010-2011 Fontspring
 *
 *
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      FontSite Inc.
 * License URL: http://www.fontspring.com/fflicense/fontsite
 *
 */
 -->
 <!--
 /* @license
  * MyFonts Webfont Build ID 2583428, 2013-06-18T14:09:06-0400
  * 
  * The fonts listed in this notice are subject to the End User License
  * Agreement(s) entered into by the website owner. All other parties are 
  * explicitly restricted from using the Licensed Webfonts(s).
  * 
  * You may obtain a valid license at the URLs below.
  * 
  * Webfont: Wilma Base by Type-Ø-Tones
  * URL: http://www.myfonts.com/fonts/typeotones/wilma/base/
  * Copyright: Copyright (c) 1995-2013 Type-O-Tones. v 2.5 by Enric Jardi. Barcelona. All
  * rights reserved.
  * 
  * 
  * License: http://www.myfonts.com/viewlicense?type=web&buildid=2583428
  * 
  * © 2013 MyFonts Inc
 */
 -->
 
 <style>
 @import url("//hello.myfonts.net/count/276b84");
 @font-face {
 font-family: 'Wilma-Base';
 src: url('/squelettes/galp2/fonts/wilma/276B84_0_0.eot');
 src: url('/squelettes/galp2/fonts/wilma/276B84_0_0.eot?#iefix') format('embedded-opentype'),url('/squelettes/galp2/fonts/wilma/276B84_0_0.woff') format('woff'),url('/squelettes/galp2/fonts/wilma/276B84_0_0.ttf') format('truetype'),url('/squelettes/galp2/fonts/wilma/276B84_0_0.svg#wf') format('svg');
 }
 </style>
 
<!-- FAVICONS-->
<link rel="icon" href="http://galpon.ch/favicon.ico" type="image/vnd.microsoft.icon" />
<link rel="icon"  href="[(#CHEMIN{images/favicon.png}|direction_css)]" type="image/png" />
<link rel="apple-touch-icon" href="[(#CHEMIN{images/favicon-57.png}|direction_css)]" />
<link rel="apple-touch-icon" sizes="72x72" href="[(#CHEMIN{images/favicon-72.png}|direction_css)]" />
<link rel="apple-touch-icon" sizes="114x114" href="[(#CHEMIN{images/favicon-114.png}|direction_css)]" />


<link rel="alternate" type="application/rss+xml" title="<:syndiquer_site:>" href="http://rss.galpon.ch/galpon" />
[(#REM) style CSS ][<link rel="stylesheet" href="(#CHEMIN{css/main.css}|direction_css)?v=1308281" type="text/css" media="all" />]
[(#REM) style CSS pour l'impression ][<link rel="stylesheet" href="(#CHEMIN{impression.css}|direction_css)" type="text/css" media="print" />]
<!--[if lte IE 8]><style type="text/css" media="all">@import "[(#CHEMIN{style-ie8.css}|direction_css)]";</style><![endif]-->
<!--[if lte IE 7]><style type="text/css" media="all">@import "[(#CHEMIN{style-ie7.css}|direction_css)]";</style><![endif]-->
<style>.hidden {display: none;}</style>
[(#REM) Balise permettant aux plugins d'inserer des appels javascript ou css ;
	C'est ici que SPIP va inserer l'appel de la librairie jQuery
	Et appeler a la fin compacte_head pour agreger et compacter tout le head dans des fichiers statiques
	si l'option est cochee dans Configuration
]
#INSERT_HEAD
<script src="[(#CHEMIN{js/libs/jquery.easing.1.3.js})]"></script>
<script src="[(#CHEMIN{js/libs/jquery.touchSwipe.min.js})]"></script>
<script src="[(#CHEMIN{js/libs/jquery.liquid-slider.min.js})]"></script>
<script src="[(#CHEMIN{galpon.js})?v=111007]"></script>

<!--[if (gte IE 6)&(lte IE 8)]>
  //<script type="text/javascript" src="[(#CHEMIN{js/selectivizr.js})]"></script>
<![endif]-->

[(#REM) Afficher certains éléments pour les utilisateurs connectés...
]

