[(#REM) Portfolio : album d'images ]
<B_documents_portfolio>
<div id="documents_portfolio">
	<!--<h2><:info_portfolio:></h2>-->
	<BOUCLE_documents_portfolio(DOCUMENTS) {id_article} {mode=document}{extension IN png,jpg,gif} {par num titre, date}{doublons}{vu=non}>[
	<a href="#URL_DOCUMENT" [ title="(#TITRE|couper{80}|texte_backend)"] class="thickbox mediabox" rel="portfolio" >(#FICHIER|copie_locale|image_reduire{350,250}|image_recadre{100,100,center}|inserer_attribut{alt,[(#TITRE|couper{80}|texte_backend)]})</a>
	]</BOUCLE_documents_portfolio>
</div>
</B_documents_portfolio>

[(#REM)
	Afficher en grand le document demande dans l'URL
]
<BOUCLE_afficher_document(DOCUMENTS) {id_document}{id_article} {mode=document}{extension IN png,jpg,gif}>
[(#MODELE{emb}|image_reduire{500,0})]
</BOUCLE_afficher_document>


[(#REM)
	Si un seul document est joint a l'article, et si le texte est vide,
	on incruste automatiquement ce document
]
<BOUCLE_documents_decompte(DOCUMENTS spip_documents_liens articles) {id_article} {mode=document}{texte=''}{extension !IN gif,jpg,png} {vu=non}>[
(#TOTAL_BOUCLE|=={1}
	|?{[(#INCLURE{fond=modeles/emb}{id_document}
	|trim)]})]</BOUCLE_documents_decompte>


[(#REM)
	Sinon, liste des autres documents joints
]
<B_documents_joints>
	<div class="menu" id="documents_joints">
	<h2>À télécharger</h2>
	<ul>
		<BOUCLE_documents_joints(DOCUMENTS) {id_article} {extension !IN gif,jpg,png} {vu=non}{par num titre, date}>[
		<li>
			<strong><a href="(#URL_DOCUMENT)" title="<:bouton_telecharger:>" type="#MIME_TYPE">[(#TITRE|sinon{<:info_document:>})]</a></strong>
			<small>(<span>#TYPE_DOCUMENT[ &ndash; (#TAILLE|taille_en_octets)]</span>)</small>
			#DESCRIPTIF
		]</li>
		</BOUCLE_documents_joints>
	</ul>
	</div>
</B_documents_joints>

<//B_documents_decompte>