<div class="formulaire_spip formulaire_editer formulaire_editer_evenement formulaire_editer_evenemnt-#ENV{id_evenement,nouveau}">
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
		<input type='hidden' name='id_evenement' value='#ID_EVENEMENT' />
		<input type='hidden' name='id_parent' value='#ENV{id_parent}' />
	  <ul>
	  	<li class='editer_parent[ (#ENV**{erreurs}|table_valeur{id_parent}|oui)erreur]'>
	    	<label for="id_parent"><:agenda:evenement_article:></label>[
	    	<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{id_parent})</span>
	    	]<INCLURE{fond=formulaires/selecteur/articles}{selected=#ENV{parents_id}}{id_article=#ENV{id_parent}}{name=parents_id}{select=1}{rubriques=0}>
	  	</li>
	    <li class="editer_titre obligatoire[ (#ENV**{erreurs}|table_valeur{titre}|oui)erreur]">
	    	<label for="titre"><:agenda:evenement_titre:></label>[
	    	<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{titre})</span>
	    	]<input type='text' class='text' name='titre' id='titre' value="#ENV{titre}" />
	    </li>
	    <li class='editer_date fieldset'><fieldset><legend><:agenda:evenement_date:></legend>
	    <ul>
	    <li class="editer_horaire[ (#ENV**{erreurs}|table_valeur{horaire}|oui)erreur]">
			<label for="horaire"><:agenda:evenement_horaire:></label>[
			<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{horaire})</span>
			]<input type='checkbox' name='horaire' id='horaire' value='non' [(#ENV{horaire}|=={oui}|non)checked='checked']
				onclick="if (this.checked==false) { $('span.afficher_horaire').show();} else {$('span.afficher_horaire').hide();}" />
	    </li>
	    <li class="editer_date_debut_fin[ (#ENV**{erreurs}|table_valeur{date_debut}|oui)erreur][ (#ENV**{erreurs}|table_valeur{date_fin}|oui)erreur]">
			[
			<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{date_debut})</span>][
			<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{date_fin})</span>
			]<label for="date_debut"><:agenda:evenement_date_de:></label><input type='text' class='text date' name='date_debut' id='date_debut' value="[(#ENV{date_debut})]" />
			<span class='afficher_horaire'>
			<label for='heure_debut' class='heure'><:agenda:evenement_date_a_immediat:></label>
			<input type='text' class='text heure' name='heure_debut' id='heure_debut' value="[(#ENV{heure_debut})]" 
			/></span>
			<label for="date_fin" class='date_fin'><:agenda:evenement_date_a:></label>
			<span class='afficher_horaire'><label for='heure_fin' class='heure'><:agenda:evenement_date_a_immediat:></label>
			<input type='text' class='text heure' name='heure_fin' id='heure_fin' value="[(#ENV{heure_fin})]" 
			/></span><input type='text' class='text date' name='date_fin' id='date_fin' value="[(#ENV{date_fin})]" />
	    </li>
	    </ul>
	    </fieldset></li>
	    <li class="editer_repetitions[ (#ENV**{erreurs}|table_valeur{repetitions}|oui)erreur]">
			<label for="repetitions"><:agenda:evenement_repetitions:></label>[
			(#ENV{repetitions}|non)<a href='#' onclick="$(this).next().removeClass('cachee');return false;"><:agenda:ajouter_repetition:></a>
			<div class='ajouter_repetitions'>][
			<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{repetitions})</span>
			]<div id='repetitions_picker'></div>
			<textarea name='repetitions' id='repetitions'>#ENV{repetitions}</textarea>[
			(#ENV{repetitions}|non)</div>]
	    </li>
	    <li class="editer_descriptif[ (#ENV**{erreurs}|table_valeur{descriptif}|oui)erreur]">
			<label for="descriptif"><:agenda:evenement_descriptif:></label>[
			<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{descriptif})</span>
			]<textarea name='descriptif' rows='5' id='descriptif'>[(#ENV{descriptif})]</textarea>
	    </li>[
		(#ENV{affiche_inscription,oui}|=={oui}|oui)
	    <li class="editer_inscription[ (#ENV**{erreurs}|table_valeur{inscription}|oui)erreur]">
		    <div class='choix inscription'>
					[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{inscription})</span>]
					<input type='checkbox' class='checkbox' name='inscription' id='inscription' value="1"[ (#ENV{inscription}|oui)checked="checked"] />
					<label for="inscription"><:agenda:label_inscription:></label>
				</div><div class='choix places'>
				<label for="places"><:agenda:label_places:></label>[
				<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{places})</span>
				]<input type='text' class='text' name='places' id='places' value="[(#ENV{places})]" />
				</div>
	    </li>]
	    <li class="editer_lieu[ (#ENV**{erreurs}|table_valeur{lieu}|oui)erreur]">
			<label for="lieu"><:agenda:evenement_lieu:></label>[
			<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{lieu})</span>
			]<input type='text' class='text' name='lieu' id='lieu' value="[(#ENV{lieu})]" />
	    </li>
	    <li class="editer_adresse[ (#ENV**{erreurs}|table_valeur{adresse}|oui)erreur]">
			<label for="adresse"><:agenda:evenement_adresse:></label>[
			<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{adresse})</span>
			]<textarea name='adresse' rows='3' id='adresse'>[(#ENV{adresse})]</textarea>
	    </li>
	    [<li class="editer_mots[ (#ENV**{erreurs}|table_valeur{mots}|oui)erreur]">
	    <label for="mots"><:titre_page_mots_tous:></label>[
	    <span class='erreur_message'>(#ENV**{erreurs}|table_valeur{mots})</span>
	    ](#INCLURE{fond=formulaires/inc-mots_evenements}{name=mots}{id_evenement}|trim)
	    </li>]
	  </ul>
	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class='boutons'><input type='submit' class='submit' value='[(#ENV{id_evenement}|?{<:bouton_enregistrer:>,<:bouton_ajouter:>})]' /></p>
	</div></form>
	#INCLURE{fond=formulaires/inc-editer_evenement_pickers}
	]
</div>
