[(#REM) Afficher les mots selectionnes
]<B_mots><ul id='mots_sel'><BOUCLE_mots(MOTS){id_evenement}>
<li><input type="hidden" name='#ENV{name}[]' value="#ID_MOT"
/>#TITRE <a href='#'
onclick='mot_sel_remove(this);return false;'><img src='#CHEMIN{images/croix-rouge.gif}' /></a><em>, </em></li>
</BOUCLE_mots></ul>
</B_mots>#SET{pasdemots,1}<//B_mots>[
[(#GET{pasdemots}|oui)<a href='#' onclick="$(this).hide().next().show();return false;"><:agenda:ajouter_mots_cles:></a><div style='display:none;'>]
(#INCLURE{fond=formulaires/inc-navigateur-mots_evenements}{ajax}{name})
<script type='text/javascript'>var img_fermer = '#CHEMIN{images/croix-rouge.gif}';</script>
<script type='text/javascript' src='#CHEMIN{javascript/mots_evenements.js}'></script>
[(#GET{pasdemots}|oui)</div>]]