<div class="formulaire_spip formulaire_#FORM formulaire_#FORM-#ID_EVENEMENT">
	[(#ENV{editable}|non)
	[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
	[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	]
	[(#ENV{editable})
	<form method='post' action='#ENV{action}' enctype='multipart/form-data'><div>
		[(#REM) declarer les hidden qui declencheront le service du formulaire 
		parametre : url d'action ]
		#ACTION_FORMULAIRE{#ENV{action}}
		<fieldset><legend><:agenda:label_vous_inscrire:></legend>
		[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
		[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]
	  <ul>
	    <li class="saisie_reponse[ (#ENV**{erreurs}|table_valeur{reponse}|oui)erreur]">
				[<span class='erreur_message'>(#ENV**{erreurs}|table_valeur{reponse})</span>]
		    <div class='choix'>
					<input type='radio' class='radio' name='reponse' id='reponse_oui' value="oui"[ (#ENV{reponse}|=={oui}|oui)checked="checked"] />
					<label for="reponse_oui"><:agenda:label_reponse_jyparticipe:></label>
				</div>
		    <div class='choix'>
					<input type='radio' class='radio' name='reponse' id='reponse_peutetre' value="?"[ (#ENV{reponse}|=={?}|oui)checked="checked"] />
					<label for="reponse_peutetre"><:agenda:label_reponse_jyparticipe_peutetre:></label>
				</div>
		    <div class='choix'>
					<input type='radio' class='radio' name='reponse' id='reponse_non' value="non"[ (#ENV{reponse}|=={non}|oui)checked="checked"] />
					<label for="reponse_non"><:agenda:label_reponse_jyparticipe_pas:></label>
				</div>
	    </li>
	  </ul>
	  </fieldset>
	  [(#REM) ajouter les saisies supplementaires : extra et autre, a cet endroit ]
	  <!--extra-->
	  <p class='boutons'><input type='submit' class='submit' value='<:bouton_enregistrer:>' /></p>
	</div></form>
	]
</div>