/* @override 
	http://dev.galpon.ch/squelettes/galp2/css/custom.css
	http://www.galpon.ch/squelettes/galp2/css/custom.css
	http://galpon.ch/squelettes/galp2/css/custom.css */

/* @license
 * MyFonts Webfont Build ID 2583428, 2013-06-18T14:09:06-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Wilma Base by Type-Ø-Tones
 * URL: http://www.myfonts.com/fonts/typeotones/wilma/base/
 * Copyright: Copyright (c) 1995-2013 Type-O-Tones. v 2.5 by Enric Jardi. Barcelona. All rights reserved.
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2583428
 * 
 * © 2013 MyFonts Inc
*/


/* @group Typography */

@font-face {
    font-family: 'FontSiteSans';
    src: url('../fonts/FontSiteSans-Light-webfont.eot');
    src: url('../fonts/FontSiteSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontSiteSans-Light-webfont.woff') format('woff'),
         url('../fonts/FontSiteSans-Light-webfont.ttf') format('truetype'),
         url('../fonts/FontSiteSans-Light-webfont.svg#FontSiteSansLight') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'FontSiteSans';
    src: url('../fonts/FontSiteSans-LightItalic-webfont.eot');
    src: url('../fonts/FontSiteSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontSiteSans-LightItalic-webfont.woff') format('woff'),
         url('../fonts/FontSiteSans-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/FontSiteSans-LightItalic-webfont.svg#FontSiteSansLightItalic') format('svg');
     font-weight: 400;
     font-style: italic;
}

@font-face {
    font-family: 'FontSiteSans';
    src: url('../fonts/FontSiteSans-Bold-webfont.eot');
    src: url('../fonts/FontSiteSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontSiteSans-Bold-webfont.woff') format('woff'),
         url('../fonts/FontSiteSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/FontSiteSans-Bold-webfont.svg#FontSiteSansBold') format('svg');
     font-weight: 700;
     font-style: normal;
}

@font-face {
    font-family: 'FontSiteSans';
    src: url('../fonts/FontSiteSans-BoldItalic-webfont.eot');
    src: url('../fonts/FontSiteSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontSiteSans-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/FontSiteSans-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/FontSiteSans-BoldItalic-webfont.svg#FontSiteSansBoldItalic') format('svg');
     font-weight: 700;
     font-style: italic;
}


.wilma .kern1 { /* kerning du chiffre 1 de wilma ... */
	margin: 0 -0.085em;
}	
.wilma .sup { /* superscript */
	font-size: 50%;
/*	vertical-align: super;*/
}	
.date-ndash {	
	margin: 0 0.18em;
}

.invisible {
	visibility: hidden;
}

/* No Top Margin */
.ntm, .ntm p {
	margin-top: 0px;
}
.nbm, .nbm p {
	margin-bottom: 0px;
}

/* @end */

/* @group General Styles */

/* General styles */

html, body {
	margin:0;
	padding:0;
	border:0;
	text-align:center;
}

html, body {
	/*background:#cc0000;*/
		
	background-color: #f9f4d9;
}

body, body, button, input, select, textarea,
#article, #rubrique {
	font-family: FontSiteSans, "Helvetica Neue Light", Helvetica-Neue-Light, "Helvetica Light", Helvetica-Light, Helvetica, Arial, sans-serif;
}
	
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
	font-family: 'Wilma-Base', Helvetica, Arial, sans-serif;
}
.wilma {
	font-family: 'Wilma-Base', 'Franklin Gothic', Helvetica, Arial, sans-serif;
}
h1 strong,
h2 strong,
h3 strong
 {
	font-weight: normal;
}

h1 {
	font-size: 180%;
}

h2 {
	font-size: 160%;
}

p {
	margin:.4em 0 .8em 0;padding:0;
}

img {margin:10px 0 5px;}

/* General Layout */

#fixed {
	margin: 15px auto 600px auto;
/*	width:960px;*/
	text-align:left;
	max-width: 1040px;
/*	padding: 0 20px;*/
	position:relative;   
/*   background-color:#fff;*/

   border-top: 0px solid black;
   border-bottom: 0px solid yellow;
   z-index: 1;
}

/* General Typography */

a,
.simulate-link {
	color:#d60031;
	color: #4badc3;
	border-bottom: 1px dotted;
	text-decoration: none;
}
a:link {
	color:#4badc3;
	text-decoration:none;
}
a:visited {
	color:#4badc3;
}
a:hover,
.simulate-link:hover {
	color:#2d7282;
	text-decoration:none;
	border-bottom: 1px solid;
}
a:active {
	color:#2d7282;
	border-bottom: 1px solid;
}
	
a.unstyled {
	text-decoration: none;
	border-bottom: 0px;
}	

a.u-l {
	border-bottom: 1px dotted;
} 
a.u-l:hover {
	border-bottom: 1px solid;
}

.rouge-galpon {
	color: #d60031;
}
.orange-galpon {
	color: #ffbf42;
}
.cacao-galpon {
	color: #440002;
}
.noir {
	color: #000000;
}

html em, html i,
body em, body i 
{

}

.crayon-hover {
/*	border:  1px dashed #999;*/
/*	-moz-box-sizing: border-box;
	  box-sizing: border-box*/;
	background-color: #fffed9;
}


/* @end */

/* @group Building Blocks */

/*
* OOCSS lego bloc:
* .bloc-base
*/

.bloc-base {
	
	margin-top: 30px;
/*	max-width: 600px;*/
}

/*.bloc-base .chapo,*/
.bloc-base .titre,
.bloc-base .soustitre,
.bloc-base .dates-horaires,
.bloc-base .descriptif,
.bloc-base .duree 
{
	color: #4badc3;
}


.bloc-base h1.titre {
	margin-top: 0px;
	font-size: 240%;
	line-height: 1;
	margin-bottom: 0px;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

.in-serie h1.titre {
	margin-top: 0.4em;
}

.bloc-base .soustitre {
	font-size: 160%;
}
.bloc-base .soustitre p {
	margin: 0;
	margin-top: 0.5em;
	line-height: 1.1;
}

.bloc-base .dates-horaires {
	margin-left: 2em;
	margin-bottom: 0.6em;
}

.date-grand-format,
.bloc-base .date-spectacle {
	font-size: 160%;
}

.bloc-base .date-spectacle p {
	margin-bottom: 0.3em;
	margin-top: 0.5em;
	line-height: 1.1;
}

.bloc-base .horaire-spectacle p {
	margin-bottom: 0;
	margin-top: 0em;
}

.bloc-base .horaire-spectacle {
}


.bloc-base .accroche{
/*	font-weight: bold;*/
	margin-top: 1.5em;
}
.bloc-base .accroche p {
	margin-bottom: 0em;
}

.bloc-base  .soutiens {
	font-style: italic;
	font-size: 96%;
	line-height: 1.2;
}

.bloc-base  .texte {
	margin-top: 0.8em;	
}


.bloc-article {
	position: relative;
}

.bloc-article-header {
/*	background: #f5f5f5;*/
	margin-bottom: -1px;
	border: 0px solid #333;
	display: block;
	width: 100%;
	min-height: 19px;
/*	float: left;*/
	background: url('../images/corner-white.png') no-repeat right top;
	z-index: 10;
}

.bloc-header-serie-container {
	width: 100%;
	float: left;
	background: url('../images/corner-white.png') no-repeat right top;
}

.bloc-header-serie {
	float: right;
	width: 100%;
	width: 50%;
	background: url('../images/corner-red.png') no-repeat right top;
}

.bloc-header-serie a {
	color: #fff;
}

.bloc-header-serie .bloc-header-text {
/*	width: 49%;*/
	float: right;
	padding-top: 0.7em;
	padding-bottom: 0.5em;
}

.bloc-header-serie .title {
	font-size: 180%;
	margin: -0.3em 0em -0.2em 0.3em;
	float: left;
}

.bloc-header-serie .voir-programme {
	margin-top: 0.0em;
	margin-bottom: 0.1em;
	float: right;
	margin-right: 2em;
	margin-left: 1em;
}

.bloc-article-content {
	background: #fff;
	padding: 0em 1.5em 1em 1.5em;
	margin-top: 0;
	border: 0px solid #333;
	clear: both;
	z-index: 30;
}

.bloc-article-content.in-serie {
	padding-top: 0.2em;
}

.sub-bloc {
	width: 49%;
}

.sub-bloc-1 {
	float: right;
}

.sub-bloc-2 {
	float: left;
}

.sub-bloc-2 .spip_logos {
/*	position: absolute;*/
	float: left;
	display: block;
	margin: 0;
	margin-top: -18px;
	margin-left: -1.5em;
	margin-bottom: 1em;
	
/*	margin-top: -1em;;*/
}

.sub-bloc-2 .distribution {
	clear: left;	
}

.bloc-in-serie {
	position: relative;
}

.bloc-in-serie .sub-bloc-2 .spip_logos {
/*	position: absolute;*/
	/*top: 0;
	left: 0;
	margin: 0;
	width: 100%;
	height: auto;*/
/*	margin-top: -3em;*/
/*	z-index: 40;
	float: left;*/
}

.bloc-in-serie .sub-bloc-2 {
/*	overflow: hidden;
	border: 1px solid #333;*/
}



.bloc-article-content{
	overflow: visible;
}


.bloc-nav {
	width: 100%;
/*	border: 1px solid #333;*/
	clear: both;
	position: relative;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

.bloc-nav-ul {
	margin: 0;
}

.bloc-nav-ul .li {
	display: inline;
}

.bloc-nav .nav-btn {
	padding: 4px;
	text-decoration: none;
	color: #fff;
	background: #d60031; /* RED! */
	margin-right: 1em;
}
.bloc-nav .nav-btn:hover {
	background-color: #9b0000;
}

.bloc-nav .active {
	background: #000;
}

.bloc-nav .reservation {
	float: right;
	padding: 1px 4px;
}

.article .article-part-two {
	margin-top: 0.4em;
}

/* @end */


/* START CUSTOMISATION */

/* @group Header */

.padding-container,
#top-container {
	padding: 0 1%;
}
/* Must match the .micro-bloc padding!! */

/* Header styles */
#header {
	clear:both;
	width:100%;
	min-height:250px;
	position:relative;
	height:auto;
	padding: 0;
	margin: 0;
	padding-bottom:0;
	/*padding-bottom:10px;*/
	border-bottom:0px solid #000;
/*	background-color:#33311;*/
	z-index: 25;
}

#header-bar {
	/*background:rgb(20, 20, 20);
	background:rgba(20, 20, 20, 0.8);*/
	min-height:38px;
	/*position:absolute;*/
	top:0;
	left:0;
	width:100%;
	z-index:3;
}

.new-logo {
	margin-left: 0px;
	margin-top: 10px;
	clear: left;
}
.new-logo img {
	display: block;
}
.new-logo a {
	border-bottom: 0px;
}
#header-bar h1 {
	float:left;
	font-size:100%;
	line-height: 1.3;
	margin: 0;
}

#header-bar a,
#header-bar a:hover {
	background: transparent;
	color: #d60031;
	text-decoration: none;
	border-bottom: 0px;
}

/* @group Search Form */


.header-recherche {
	display: block;
	float: right;
/*	margin-top: 1.5em;
	margin-right: 0.5em;*/
	position: absolute;
	top:  1.5em;
	right: 4px;
}

.header-recherche form {
	float: right;
	display: inline;
	clear: none;
	padding: 0px 0px 0 0;
	margin: 0;
	height: 28px;
	width: 11em;
	
}

.header-recherche input.text {
	background:#fff;
	color:#222;
	border:0;
	margin:0;
	padding: 3px 3px 3px 5px;
	height:18px;
	width: 8em;
	border-radius: 0px;
	font-size: 96%;
	
	position: absolute;
	top:  0px;
	left: 0px;
	
}

.header-recherche input.submit {
	border: 0px solid #0f0;
	background: #333;
	background-image:url('../images/loupe.gif');
	margin: 0px 0 0 0;
	width: 24px;
	height: 24px;
	overflow: hidden;
	cursor: pointer;
	display: block;
	position: absolute;
	right: 12px;
	top: 0px;
	z-index: 2;
	border-radius: 0;
	padding-left: 0;
	padding-right: 0;
}

/* @end */

#header #head-img {
	position:relative;
	width:100%;
	clear: left;
}

#texte-entete {
	position:absolute;
	top:1em;right:1.5em;
	width:21em;
	text-align:right;
	color:#fff;
	font-size:0.95em
}

#texte-entete div.chapo {
font-size:1.1em;
font-weight:bold;
}
#texte-entete p {
	padding:0;line-height:1.3em;}
#texte-entete img.crypto {
	padding:0;margin:0;
	vertical-align:middle;height:10px;
}

.saison-future {
	list-style: none;
	position: absolute;
	right: 0px;
	top: 3.5em;
}
#saison-future {
	margin-bottom: 0px;
	max-height: 2em;
}

#saison-future li {
	margin-bottom: 0;
}
#saison-future a {
	color: #fff;
	background: #d60031;
}
#saison-future a:hover {
	color: #fff;
	background: #000;
}

/* @end */

/* @group MENUS */

.base-menu {
   bottom: 10px;
   clear: both;
   margin: 0.8em 0 0 0;
   padding: 0;
   width: auto;
   z-index: 1000;
   text-align: left;
}

.base-menu ul {
   clear: left;
   float: left;
   display: inline;
   padding: 10px 0 0 0px;
   margin: 0;
   position: relative;
}

.base-menu li {
   display: inline;
   float: left;
   position: relative;
   margin: 0 1em 0 0em;
   padding: 0px 0 0px 0;
   width: auto;
   top: 0px;
   color: #fff;
   background: rgb(20, 20, 20); /*IE...*/
   background: rgba(20, 20, 20, 0.8);
}

.base-menu a {
	margin: 0 0 0 1px;
	padding: 3px 10px 3px 10px;
	text-align: left;
	background: #ccc;
	color: #000;
	text-decoration: none;
	line-height: 1.3em;
	width: auto;
	display: block;
	}

.base-menu li a {
   display: block;
   margin: 0 0 0 0px;
   padding: 5px 5px 3px 5px;
   border: 0;
   line-height: 1.3em;
   background: #d60031;
   color:#fff;
}

.base-menu li a:hover {
	background: #9b0000;
}

.base-menu .li-level-1 {
	padding: 0px;
	margin-bottom: 0.6em;
}

.base-menu a.a-level-1 {
	display: block;
	margin: 0 0 0 0px;
	padding: 5px 5px 3px 5px;
	background: #d60031;
	color:#fff;
}

.level-1-on a.a-level-1,
.base-menu li a.a-level-1:hover {
	background: #000;
}

/* Submenu items */

.base-menu .ul-level2 {
   display: none;
/*   display: block; */
/* Sub menus are hidden by default */
   position: absolute;
   margin: 0;
   padding: 0;
   border: 0;
   left: 0;
/*   top: 0;*/
   padding-top: 0px; 
   /*same as padding of UL LI, above*/
   z-index: 1000;
   padding-bottom: 13px;
}

.base-menu ul ul.on,
.base-menu li.submenu:hover .ul-level2 {
	   display: block; 
	/* Sub menus are hidden by default */
}
/* Make the sub menus appear on hover */
.base-menu ul li:hover ul,
.base-menu ul li.hover ul { 
/* This line is required for IE 6 and below */
   display: block; /**/
   /* Show the sub menus */
}

.base-menu .ul-level2 li {
   left: auto; 
   margin: 0;
/*   width: 12.5em;*/
   /*!IMPORTANT!must match with+padding below*/
   background: rgb(154, 154, 154);
   background: rgba(154, 154, 154, 0.6);
   background:transparent;
   padding:  3px 0 3px 0;
}

.base-menu .ul-level2 a {
	width: 9.5em;
}
.base-menu .ul-level2 a.on {
	background: #000;
}

/*marges haut et bas*/   
.base-menu .ul-level2 li:first-child {
	padding-top:6px;
}
.base-menu .ul-level2 li:last-child {
	padding-bottom:6px;
}

/* @end */

/* @group Rubriques */

.header-rubrique {
	color: #fff;
/*	background: #d60031;*/
	background: url('../images/corner-red.png') no-repeat right top;
	padding: 0.1em 1em;
	margin-top: 20px;
}

.header-rubrique .title {
	margin-top: 0.3em;
	margin-bottom: 0;
}
.header-rubrique .dates {
	margin-left: 1em;
}

.reprise-header {
	color: #d60031;
/*	background-color: rgba(0, 0, 0, 0.27);*/
	background: url('../images/corner-dark.png') no-repeat right top;
	float: left;
}
.reprise-header-inside {
	padding: 0.1em 1em 0.2em 1em;
}

.reprise-header .titre {
	margin-bottom: 0.2em;
	margin-top: 0.5em;
	line-height: 1.1;
}
.reprise-header .disciplines {
	font-size: 180%;
	line-height: 1.1;
	margin-bottom: 0.4em;
}
.reprise-header .accroche {
/*	margin-bottom: 0.5em;*/
}

.rubrique-contenu {
	margin-top: 0.5em;
	margin-bottom: 1em;
	z-index: 10;
}

/* @end */

/* @group Micro-Bloc */

/* an essential LEGO BLOCK of our CSS: */

.micro-bloc {
	border: 0px solid #333;
	min-height: 7em;
	width: 31.333333333%;
	float: left;
	margin: 1%;
/*	padding: 6% 0;*/
	position: relative;
	overflow: hidden;
	background: url('../images/corner-white.png') no-repeat right top;
	-moz-box-sizing: border-box;
	  box-sizing: border-box;
	  
}

.reprise-header {
	margin: 1%;
	width: 64.6%;
	-moz-box-sizing: border-box;
	  box-sizing: border-box;
}

.micro-bloc-text {
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 20;
	width: 100%;
/*	background: #000;*/
}

.micro-bloc-text .soustitre p {
	margin-top: 0.1em;
	margin-bottom: 0.1em;
}

.micro-bloc-text a {
	padding: 0.6em 0.4em 15em 0.4em;
	height: 100%;
	color: #4badc3;
}

.option-Texte-jaune .micro-bloc-text a {
	color: #ffffcc;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.option-Texte-noir .micro-bloc-text a {
	color: #222;
}

.option-Texte-bleu .micro-bloc-text a {
	color: #003882;
}

.option-Texte-blanc .micro-bloc-text a {
	color: #fff;
 	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.option-Texte-rouge .micro-bloc-text a {
	color: #d60031;
/*	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.27);*/
}

.micro-bloc-text a:hover {
	color: #fff;
}

.micro-bloc-text a:hover {
	background-color: transparent;
	background-image: url('../images/square-red.png');
	background-position:  right -7px;
}


/*.bloc-nr-1 a,
.bloc-nr-4 a, 
.bloc-nr-7 a {
	color: #ffffd2;
}


.bloc-nr-2 a,
.bloc-nr-5 a {
	color: #4badc3;
}

.bloc-nr-3 a,
.bloc-nr-6 a {
	color: #fff;
}*/

/* DARK Background Override */

/*.bloc-nr-1, .bloc-nr-3,
.bloc-nr-4, .bloc-nr-6,
.bloc-nr-7 {
	background-image: url('../images/square-dark.png');
	background-position:  right top;
}
.bloc-nr-1 .blank_image, 
.bloc-nr-3 .blank_image,
.bloc-nr-4 .blank_image, 
.bloc-nr-6 .blank_image,
.bloc-nr-7 .blank_image {
	visibility: hidden;
}*/

.micro-title {
	margin: 0;
	font-size: 240%;
	line-height: 1;
	word-break: normal;
}

.micro-bloc .soustitre {
	margin-top: 0.3em;
	margin-bottom: 0.0em;
	font-size: 120%;
	line-height: 1.1;
}

.micro-bloc .date-perso {
	padding-left: 1em;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
	font-size: 160%;
	line-height: 1;
}

.microspace {
	font-size: 10%;
}


.micro-bloc-text  .who-what p {
	margin: 0;
	line-height: 1.2;
	font-size: 96%;
}

.micro-bloc .spip_logos {
	position: relative;
	top:  0;
	left: 0;
	margin: 0;
	width: 101%;
	height: auto;
	z-index: 10;
	display: block;
/*	opacity: 0.9;*/
}

.dblock,
.ablock {
	display: block;
}

.option-Titre-plus-petit .micro-title,
.bloc-art-295 .micro-title {
	font-size: 200%;
}

.option-Titre-bcp-plus-petit .micro-title {
	font-size: 170%;
	line-height: 1.1;
}

.option-Titre-bcp-plus-petit .soustitre {
	font-size: 110%;
}

/* @end */

/* @group Formulaire */

.bloc-formulaire .bloc-article-header {
	background: url('../images/corner-yellow.png') no-repeat right top;
}

.formulaire-commande,
.bloc-formulaire .bloc-article-content {
	background-color: #fefebe;
}

.bloc-formulaire .titre {
	color: #000;
}

.formulaire_formidable {
	max-width: 32em;;
	padding-left: 2em;
}

.formulaire_formidable ul {
	margin-left: 0;
	width: 100%;
	display: block;
}

.form-reservation li,
.formulaire_formidable li {
	list-style: none;
	
}

.form-reservation li,
.form-identifiants li {
	clear: left;
	width: 100%;
	display: block;
	margin: 1em;
}

.form-identifiants li label,
.form-reservation .infos-perso label,
.form-reservation .editer_spectacles label,
.form-reservation .editer_nombre_de_places label {
	float: left;
	width: 8em;
	text-align: right;
}

.form-identifiants  li input,
.form-identifiants  li textarea,
.form-reservation .infos-perso input,
.form-reservation .editer_nombre_de_places input {
/*	clear: left;*/
	display: block;
	margin-left: 9em;
	border-radius: 0;
	width: 20em;
}
.form-reservation .editer_nombre_de_places input {
	width: 3em;
}
.form-reservation .editer_spectacles select {
	display: block;
	margin-left: 9em;
	width: 20em;
}

.form-reservation span.obligatoire {
	display: none;
}

.form-reservation .informations {
	margin-left: 4em;
	max-width: 22em;
}

.form-reservation .informations {
	line-height: 1.3;
	margin-bottom: 1.4em;
}

.form-reservation .submit-button {
	margin-left: 4em;
	margin-bottom: 1em;
}

.form-reservation .erreur_message {
	margin-left: 1em;
}

/* Small screens ----------- */
@media screen and (max-width: 600px) {
	
	.formulaire_formidable {
		padding-left: 0;
	}
	
	.form-identifiants li label,
	.form-reservation .infos-perso label,
	.form-reservation .editer_spectacles label,
	.form-reservation .editer_nombre_de_places label {
		float: none;
		width: auto;
		text-align: left;
	}
	
	.form-identifiants  li input,
	.form-identifiants  li textarea,
	.form-reservation .infos-perso input,
	.form-reservation .editer_nombre_de_places input,
	.form-reservation .editer_spectacles select {
		margin-left: 0;
		clear: left;
		margin-top: 0.2em;
	}
	
	.bloc-formulaire .infos-perso,
	.bloc-formulaire .infos-spectacle{
		margin-left: 0;
	}
	
	.bloc-formulaire .informations,
	.form-reservation .submit-button  {
		margin-left: 1em;
	}

}

.bloc-formulaire  .infos-spectacle {
	margin-bottom: 1em;
	
	border-top: 1px solid #fefebd;
}

.bloc-formulaire .explication {
  margin: 0.5em 0 0 0;
  line-height: 1.2;	
  border-bottom: 1px solid #000;
  padding-bottom: 0.4em;
}

.bloc-formulaire .explication_commentaire_spectacle {
	border-bottom: 0px;
	margin-top: 0px;
	display: block;
	margin-left: 1em;
}

.explication_commentaire_spectacle p {
	background: #d07676;
	padding: 0.5em 0.6em 0.4em 0.6em;
	margin-bottom: 0;
	color: #fff;
	border: 1px solid #891f1f;
	border-radius: 5px;
	max-width: 22em;
	font-size: 120%;
}


p.formulaire_ok,
p.important {
	margin-left: 0;
	font-size: 120%;
	border: 1px solid #cfcfaa;
	padding: 0.5em 0.6em 0.4em 0.6em;
	background: #fefedf;
	border-radius: 5px;
	max-width: 32em;
}

.bloc-formulaire .fieldset_fieldset_1 ul {
	margin-bottom: 0;
}

.bloc-formulaire .fieldset_fieldset_1,
.form-identifiants {
	margin-top: 1.5em;
	padding-top: 0.5em;
	width: 100%;
	border-top:  1px solid #000;
	margin-bottom: 0px;
}

.bloc-formulaire .fieldset_fieldset_1  .legend {
	margin-bottom: 1em;
}

.bloc-formulaire .fieldset_fieldset_2  .legend {
	display: none;
}

.bloc-formulaire .editer_radio_1 label {
	display: none;
}

.bloc-formulaire .editer_radio_1 .choix label {
	display: inline;
	padding-left: 0.4em;
	font-weight: bold;
}
.bloc-formulaire .editer_case_1 {
	margin-top: 0.8em;
}
.bloc-formulaire .editer_case_1 label {
	display: none;
}
.bloc-formulaire .editer_case_1 .choix label {
	display: inline;
	padding-left: 0.4em;
}

.bloc-formulaire .editer_radio_1 {
	
}

.reponse_formulaire_erreur {
	background: #fff;
	color: red;
	border: 1px solid #bdbdbd;
	font-weight: bold;
	padding: 0.6em 1em;
}

.erreur_message {
	color:  red;
}

.formulaire-commande {
	clear: both;
}

/* @end */

/* @group Liquid Slider */

.slider-bloc {
	background: #fff;
}

.slider-bloc .slider-bloc-inside {
	float: left;
/*	border: 1px solid #333;*/
}

.slider-bloc .text-block-1,
.slider-bloc .text-block-3 {
	width: 58%;
	float: right;
	border: 0px solid #333;
}

.slider-bloc .text-block-1 {
	
}

.slider-bloc a,
.slider-bloc .dates-horaires,
.slider-bloc .who-what
 {
	color: #4badc3;
	
}
.slider-bloc a:hover {
	background: transparent;
	color: #3095ab;
}

.slider-bloc .img-block-2 {
	width: 40%;
	float: left;
}
.slider-bloc .img-block-2 img {
	display: block;
	margin: 0 0 1em 0;
}

.slider-bloc .text-block-3 {
	margin-bottom: 1em;
}

.slider-bloc .dates-horaires {
	margin-left: 2em;
	line-height: 1.2;
}

.slider-bloc .date-perso {
	font-size: 120%;
	margin-bottom: 0;
}

.slider-bloc .date-perso p {
	margin-bottom: 0;
}

.slider-bloc .accroche {
	line-height: 1.2;
}


/***********************************************************************
*
*  Liquid Slider
*  Kevin Batdorf
*
*  http://liquidslider.kevinbatdorf.com
*
*  GPL license 
*
************************************************************************/

/******************************************************
* No JavaScript
* Use this to apply styles when Javascript is disabled,
* and be sure to include the ".no-js" class in your html 
* markup.
*******************************************************/
.no-js .liquid-slider {
  height:350px;
  overflow:scroll;
}

/******************************************************
* Preloader
* Use this to apply styles when Javascript is disabled,
* and be sure to include the ".no-js" class in your html 
* markup.
*******************************************************/
.liquid-slider-wrapper .liquid-slider-preloader {  
  background: url(../images/slider/loading.gif) #fff no-repeat center 75px;
  opacity:.90;
  /* Do not edit below this line */
  width:100%;
  height:200%;
  position:absolute;
  top:0;
  left:0;
}

/******************************************************************
* Base Styles 
* The styles here will apply to everything. I recommend you keep
* the styles in here specific to mobile defices, then use
* the media queries at the bottom to define further styles for larger
* screen-sizes. Think Mobile First. But be cautious of how
* your site will look in older IE browsers.
*
* Additional media queries are at the bottom of this document
******************************************************************/
.liquid-slider-wrapper {
  margin:0 auto;
  /* Do not edit below this line */
  clear: both;
  overflow: auto;
  position: relative;
}

/******************************************************
* Main Container
* This is the main container (minus the navigation).
* Be sure to match the width with the .panel class, 
* or it won't work properly. Also, width only applies
* if you are not using the responsive setting.
*
* The responsive slider will interpret the width as the
* max width instead
*******************************************************/
.liquid-slider-wrapper .liquid-slider {
  background: #fff;
  width: 1030px;
  /* Do not edit below this line */
  float: left;
  overflow: hidden;
  position: relative;
}
.liquid-slider-wrapper .panel-container {
  /* Do not edit below this line */
  position: relative;

}
.liquid-slider-wrapper .liquid-slider .panel-container .fadeClass {
  /* Do not edit below this line */
  position: absolute;
  top: 0; 
  left: 0;
  display: none;
}

/******************************************************
* Panels
* This is for the panels. If you are using the 
* responsive setting, this will act as the max-width
* for the entire slider.
*******************************************************/
.liquid-slider-wrapper .liquid-slider .panel {  
  width: 1030px;
  /* Do not edit below this line */
  display: block;
  float: left;
}

/******************************************************
* These provide a base starting point for images and
* video. However, you will have to add more rules
* based on the content you use. Use the @media queries 
* at the bottom of this file.
*******************************************************/
.liquid-slider-wrapper .liquid-slider .panel img{
  /*
  width:100%;
  height:auto;  
  margin:0 5px;
  */
}

.liquid-slider-wrapper .liquid-slider .panel video {
  /*
  width:100%;  
  height:auto;
  */
}

/******************************************************
* This is mainly used to adjust the padding inside each 
* panel. If you are using the responsive setting, you
* need to use the settings below as this will not apply.
*******************************************************/
.liquid-slider-wrapper .liquid-slider .panel-wrapper {  
  padding: 20px;
  padding: 0 40px;
  /* Do not edit below this line */
  position:relative;
}

/*****************************************************
* This will adjust styles for all navigation tabs
* less of course the select box used for mobile 
* navigation. The .current styles will apply only to 
* the current tab.
*
* You may use this section to create navigation for
* mobile devices if you set mobileNavigation: false
* Be sure to edit media queries for larger devices below
* I have included an example below in comments.
*
* .currentCrossLink refers to external crosslinking.
*******************************************************/
.liquid-slider-wrapper .liquid-nav a {
  background: #d8d8d8;
  color: #333333;
  margin-right: 1px;
  padding: 3px 6px;  
}
.liquid-slider-wrapper .liquid-nav a:hover {
  background: #f2f2f2;
  color: #333333;
  text-shadow: none;
}
.liquid-slider-wrapper .liquid-nav .current {
  background: #f2f2f2;
}
.currentCrossLink {
  font-weight: bold;
}
.liquid-slider-wrapper .liquid-nav ul {  
  padding:0;
  /* Do not edit below this line */
  clear: both;
  display: block;
  margin: auto;
  overflow: hidden;
}
.liquid-slider-wrapper .liquid-nav ul li {
  /* Do not edit below this line */
  display: inline;
}
.liquid-slider-wrapper .liquid-nav ul li a {
 
  /* Do not edit below this line */
  display: block;
  float: left;
  text-decoration: none;
}
/*****************************************************
* Mobile Menu
* This will adjust styles for selectbox styles. I have
* included a simple example to create a custom select
* box.
*******************************************************/
.liquid-slider-wrapper .liquid-nav {
  overflow:hidden;
  clear:both;
}
.liquid-slider-wrapper .liquid-slider-select-box {  
  /* Delete these if you want the standard select box.
     Also delete the rules below */

  width: 100%;
  height: 35px;
  overflow: hidden;
  background: url(../images/slider/menu.png) no-repeat right #fff;
  
}
.liquid-slider-wrapper .liquid-slider-select-box select {  
  /* If you want the standard select box, use 
  width:100%
  And delete the rest of the styling here */

  width: 150%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance:none;
  background: transparent;
  padding: 5px;
  font-size: 110%;
  border: 1px solid #bbb;
  height: 35px;
  cursor:pointer;
}

/******************************************************
* Arrows
* This section refers to both the non-graphical and 
* graphical navigation arrows. 
*
* Some settings will be overwritten when using the 
* responsive setting.
*******************************************************/

.liquid-nav-left-arrow a,
.liquid-nav-right-arrow a {
	border-bottom: 0px;
}

.liquid-slider-wrapper .liquid-nav-left, .liquid-slider-wrapper .liquid-nav-right {
  /* Do not edit below this line */
  float: left;
}
.liquid-slider-wrapper .liquid-nav-left a, 
.liquid-slider-wrapper .liquid-nav-right a {
  /* non-graphical arrows */
  background: #000;
  color: #fff;
  padding: 5px;
  width: 100px;
  /* Do not edit below this line */
  display: block;
  text-align: center;
  text-decoration: none;
}
.liquid-slider-wrapper .liquid-nav-left-arrow, .liquid-slider-wrapper .liquid-nav-right-arrow {
  cursor: pointer;
  /* Do not edit below this line */
  float: left;
}
.liquid-slider-wrapper .liquid-nav-left-arrow a, .liquid-slider-wrapper .liquid-nav-right-arrow a {
  /* Do not edit below this line */
  display: block;
}
.liquid-slider-wrapper .liquid-nav-left, .liquid-slider-wrapper .liquid-nav-left-arrow {
  /* Do not edit below this line */
  clear: both;
}

.liquid-slider-wrapper .liquid-nav-right-arrow,
.liquid-slider-wrapper .liquid-nav-left-arrow {
	width: 22px;
	height: 31px;
	/*height: 100%;*/
/*	border: 1px solid #333;*/
	margin-top: 0px;
/*	background: #0f0;*/
	/*margin-top: 45%;*/
	position:relative;
}

.liquid-slider-wrapper .liquid-nav-right-arrow {
  background: url(../images/slider/fleche-d.png) no-repeat top right;
  margin-right: 5px;
  margin-right: 10px;
  
  /* Do not edit below this line */
}
.liquid-slider-wrapper .liquid-nav-left-arrow {
  background: url(../images/slider/fleche-g.png) no-repeat top left;
  margin-left: 5px;
  margin-left: 10px;
  /* Do not edit below this line */
}

/* override!! */

.liquid-slider-wrapper .liquid-nav-right-arrow,
.liquid-slider-wrapper .liquid-nav-left-arrow {
/*	background-repeat: repeat;*/
/*	background-color: #fff;*/
	background-position: 0 48%;
	height: 95%;
	margin-top: 1%;
	opacity: 0.5 !important;
	visibility: visible !important;
}

.liquid-slider-wrapper .liquid-nav-left-arrow:hover,
.liquid-slider-wrapper .liquid-nav-right-arrow:hover {
	opacity: 1 !important;
}

.liquid-slider-wrapper .liquid-nav-left-arrow:hover {
  /* Left graphical arrows hover */
 /* background: url(../images/slider/fleches.png) no-repeat bottom left;*/
}
.liquid-slider-wrapper .liquid-nav-left-arrow:active {
  /* Left graphical arrows click */
}
.liquid-slider-wrapper .liquid-nav-right-arrow:hover {
  /* Right graphical arrows hover */
/*  background: url(../images/slider/fleches.png) no-repeat bottom right;*/
}
.liquid-slider-wrapper .liquid-nav-right-arrow:active {
  /* Right graphical arrows click */
}
.arrows .liquid-slider {
  /* Margin between slider and arrows */
  margin: 0 10px;
}

/******************************************************
* Responsive Styles
* Here are the main responsive styles. This mostly 
* covers the arrows, and most of the settings can be
* applied above.
*******************************************************/
.liquid-responsive .liquid-slider {
  /* Do not edit below this line */
  width: 100%;
  margin: 0;
}
.liquid-responsive .liquid-slider .panel .panel-wrapper {
  padding: 10px;
  /* MODIFIED!! */
  padding: 0px 48px;
}
.liquid-responsive .liquid-nav-left {
  /* Left non-graphical arrows */
  /* Do not edit below this line */
  position: absolute;
  left: 0;
  z-index: 1;
}
.liquid-responsive .liquid-nav-left a {
  /* Left non-graphical arrows */
  background: #9A9A9A;
  width: 80px;
}
.liquid-responsive .liquid-nav-left a:hover {
  /* Left non-graphical hover */
  background: #747474;
}
.liquid-responsive .liquid-nav-right {
  /* Right non-graphical arrows */
  /* Do not edit below this line */
  position: absolute;
  right: 0;
  z-index: 1;
}
.liquid-responsive .liquid-nav-right a {
  /* Right non-graphical arrows */
  background: #9A9A9A;
  width: 80px;
}
.liquid-responsive .liquid-nav-right a:hover {
  /* Right non-graphical arrows hover */
  background: #747474;
}
.liquid-responsive .liquid-nav-left-arrow {
  /* Do not edit below this line */
  position: absolute;
  left: 0;
  z-index: 1;
}
.liquid-responsive .liquid-nav-right-arrow {
  /* Do not edit below this line */
  position: absolute;
  right: 0;
  z-index: 1;
}


/******************************************************************
* Tablet & Smaller Laptops
* This will include tablets and some netbooks.
******************************************************************/
@media only screen and (min-width: 768px) {
  .liquid-slider-wrapper .liquid-slider .panel img{
    /* Example */
    /*
    width:24%;
    */
  }
  .liquid-responsive .liquid-slider .panel .panel-wrapper {
/*    padding: 0px 48px;*/
  }
}



/* @end */

/* @group PIED DE PAGE */

/* *****************
   Pied de page 
***************** */
#footer {
	margin: 0;
	border: 0px solid blue;
	border-bottom: 0px solid black;
	padding: 2em 1% 0 1%;
	clear: both;
}

#pied {
	color:#333;
/*	background:#fff;*/
/*	padding: 1em;*/
	margin: 0;
	margin-bottom: 0px;
}

.footer-menu ul {
	padding: 0;
}

.footer-menu .ul-level2 {
	padding: 0;
	bottom: 1em;
	padding-bottom: 1em;
}

/*Newsletter*/
#newsletter {
	border: 0px solid red;
	width: 290px;
	/*margin-left: 650px;*/
	margin-top: 15px;
	padding-top: 22px;
	clear: none;
	position: relative;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.8);
	padding: 10px 10px 0px 10px;
	float: right;
/*	display: inline;*/
	margin-right: 15px;
	margin-bottom: 15px;
}

#newsletter legend {
	font-weight: bold;
	padding-bottom: 10px;
	font-size: 104%;
}
#newsletter .input-field {
	margin-bottom: 12px;
}
#newsletter .input-field input {
	float: right;
	display: inline;
}
#newsletter .selecteur label {
	display: none;
}
#newsletter select {
	width: 180px;
	font-size: 90%;
	margin-top: 10px;
}
#newsletter .button {
	position: absolute;
	overflow: visible;
	right: 10px;
	bottom: 15px;
	font-size: 110%;
	cursor: pointer;
}


img.crypto {padding:0;margin:0;
vertical-align:middle;}

.spancrypt:after {

}

#menu-pied {
float:left;
display: inline;
/*width:100%;*/
vertical-align:bottom;
clear:left;
/*background: #eee;*/
width: 32em;
}
#menu-pied p.liens {
margin-left:15px;
font-size:100%;
padding-top: 2px;
}

/*Signature*/
#menu-pied p.right {
display:none;
float:right;clear:none;
margin-right:5px;
color:#333;font-size:1em;
font-style:italic;
text-align:right;}
#menu-pied:hover p.right{
/*display:inherit;*/
}
#menu-pied p.right a {
font-style:italic;
color:#222;}
#menu-pied p.right a:hover {
background:none;color:red;
}
#menu-pied p.right span {
	padding:2px 5px;
	background-color:rgb(230,230,230);
background-color:rgba(230,230,230,0.9);
}

/* @end */

/* @group En Une */

.secondary-content {
	border: 0px solid #333;
	clear: both;
	margin-top: 0em;
/*	position: relative;*/
	float: none;
	width: 100%;
}

.section-en-une {
	width: 32%;
	float: right;
}

.section-en-une .micro-bloc  {
		width: 100%;
		margin-top: 0;
		margin-bottom: 0;
}

.section-en-une .micro-bloc-text {
	padding: 0.4em 0.5em;	
}

.section-en-une .micro-bloc-text a {
/*	display: inline;*/
/*	border: 1px solid #333;*/
	padding-bottom: 0.6em;
}

.section-en-une .micro-title {
/*	display: none;*/
}

.section-en-une .soustitre {
	margin-top: 0.8em;
}

.section-en-une .dates-horaires {
	padding-left: 1em;
}

.section-en-une .dates-horaires p {
	margin-bottom: 0px;
}

.section-en-une,
.section-en-une a {
	color: #fff;
}
.section-en-une a:hover {
	background: none;
}
.section-en-une  .micro-bloc {
	background: url('../images/corner-red.png') no-repeat right top;
	min-height: 332px;
}
.section-en-une .micro-bloc-text {
	width: auto;
}
.section-en-une .bloc-inside {
	background: #d60031;
	padding: 0.3em;
}

.en-une-content {
/*	font-weight: bold;*/
}

.micro-bloc-text a.minilien {
	padding: 0;
	padding-bottom: 0.3em;	
}

/* @group Et Encore */

.section-et-encore {
/*	background: #fff;*/
	clear: none;
	float: left;
}

.section-et-encore .slider-container {
	background: #fff;
}

.et-encore-2-cols {
	width: 65%;
}

.et-encore-3-cols {
	width: 100%;
}

.et-encore-2-cols #slider-et-encore {
	min-height: 314px;
}


/* Inner Bloc: A LEGO Unit */

.inner-bloc {
	border: 0px solid #333;
/*	background: #eee;*/
	margin-bottom: 0.5em;
/*	float: left;*/
}

.bloc-encore {
	width: 26%;
	float: left;
	min-height: 200px;
	border: 0px solid #e1e1e1;
	margin: 1%;
}

.et-encore-3-cols .bloc-encore {
	width: 31%;
}

.et-encore-2-cols .bloc-encore {
	width: 26%;
}

.bloc-encore-inside {
	padding: 0.4em;
}

.bloc-encore-header h1 {
	line-height: 1.1;
	font-size: 110%;
	margin: 0;
	margin-bottom: 0.5em;
}

.bloc-encore h3 {
	line-height: 1.2;
	font-size: 110%;
	margin-top: 0;
}

.bloc-encore .dates-horaires {
	padding-left: 1em;
}

.bloc-encore .date-spectacle p {
	margin-bottom: 0.3em;
	margin-top: 0.5em;
	line-height: 1.1;
}

.bloc-encore .horaire-spectacle {
	display: none;
}

.bloc-encore .accroche p {
	line-height: 1.2;
	margin-bottom: 0;
	margin-top: 0.8em;
}

.bloc-encore .texte {
	line-height: 1.1;
	margin-top: 0.8em;
}

.et-encore-2-cols .bloc-encore {
	width: 47%;
} 

/* @end */

/* @end */

/* @group Styles speciaux */

/******************
** STYLES, TYPO etc ***
**********************/


/*Formulaire Contact*/
#formulaire_contact {
	display:none;
	margin-top:1em;
	margin-left:15px;
}
#formulaire_contact input {
margin:4px 0;}

/*Recherche*/
div.recherche div.menu ul li {
	margin:10px;}
div.recherche div.menu ul li a {
	padding:1px;
}
div.recherche div.menu span.spip_surligne {
	display:inline;
	font-weight:bold;
}
div.recherche p.soustitre {
	color:#d60031;
	font-size:1.4em;
}

/*Bouton*/
#lien-reservation {
margin-top:25px;
}
#lien-reservation a,
#formulaire_contact input.submit-button {
font-size:100%;
margin-left:15px;
	padding:0.1em 0.6em 0.2em 0.6em;
	height: 2em;
	border: 1px solid #888;
	cursor: pointer;
	color:#333;
border-radius: 20px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
text-decoration:none;
background-color:#fff;
background-image: url("img/white-grad.png");
background-repeat: repeat-x;
background-attachment: scroll;
background-position: left top;
}
#lien-reservation a:hover,
#formulaire_contact input.submit-button:hover {
border: 1px solid #555;
background-color:#fff;
background-image: url("img/white-grad.png");
background-repeat: repeat-x;
background-attachment: scroll;
background-position: left top;
	color:#333;}
#lien-reservation a:focus,
#formulaire_contact input.submit-button:focus {
outline: 0;
}
select, input, button, textarea, button {
/*font-family: "Century Schoolbook", "Hoefler Text", Palatino, Garamond, "Palatino Linotype", serif;*/
}
#result {
padding-right:10px;
}
#dates div.description {
line-height:1.4em;
/*font-size:110%;*/
margin-left: 1em;
margin-right: 1em;
}

/* @end */

/* @group Thickbox Photos */

/* ***********
Thickbox Photos
************* */
#documents_portfolio {
margin-top:30px;
}

#documents_portfolio a,
a.mediabox,
a.thickbox {
	border-bottom: 0px;
}

a.thickbox img {
padding:0;margin:0 6px 6px 0;
}
a.thickbox:hover {
padding:0;
background:none;
}
a#TB_ImageOff:focus, #TB_Image:focus {
outline: 0; /*for Safari...*/
}

/* @end */

/* @group Oembed */

.oembed iframe {
	max-width: 100%;
}

.oembed-source {
	display: none;
}

/* @end */



/* Small screens ----------- */
@media screen and (max-width: 600px) {
		.micro-bloc {
			width: 46%;
			margin: 2%;
/*			padding: 11% 0;*/
		}
		
		.padding-container,
		#top-container {
			padding: 0 2%;
		}
		
		.reprise-header {
			margin: 2%;
			width: 96%;
		}
		
		.sub-bloc {
		 width: 100%;	
		}
		
		.slider-bloc .text-block-1,
		.slider-bloc .img-block-2,
		.slider-bloc .text-block-3 {
			width: 100%;
		}
		
		.sub-bloc-2 .spip_logos {
			margin: 0 0 1em 0;
		}
		
		.section-en-une {
			width: 100%;
			height: 332px;
			overflow: hidden;
		}
		.section-en-une .invisible {
			display: none;
		}
		.section-en-une .micro-bloc {
			margin: 0;
			margin-top: 2em;
		}
		.section-et-encore {
			width: 100%;
		}
		
}

/* Small screens ----------- */
@media screen and (max-width: 400px) {
		.micro-bloc {
			
			max-height: 200px;
/*			padding: 11% 0;*/
			background-position: right 20px;
		}
		.micro-bloc,
		.reprise-header {
			width: 96%;
			padding: 0;
		}
		
		.et-encore-2-cols .bloc-encore,
		.et-encore-3-cols .bloc-encore {
		width: 100%;
		margin: 0em 0;
		}
		
}

/* Medium and large screens ----------- */
@media only screen and (min-width : 900px) {
	.micro-bloc {
		width: 23.0%;
		margin: 1%;
	} /* quatre images */
	.reprise-header {
		width: 48%;
	}

} /* @media Large Screens */


/* ***********
  Clear fix
************ */
/*#article-content h3:after,*/
.groupe:after {
content: ".";
display: block;
height:0;
clear:both;
visibility:hidden;
}

/* --> */