/*
Pour IE6-7-8
*/

#centeredmenu ul li {
	/*background:rgba(20, 20, 20, 0.8);*/
	background: transparent;
	background-image: url(images/ie-backgrounds/rgba-202020-80.png);
}

#centeredmenu.menu ul ul li {
	background: transparent;
	/*background:rgba(154, 154, 154, 0.6);*/
	background-image: url(images/ie-backgrounds/rgba-154-60.png);
}
#newsletter {
	/*background-color: rgba(255, 255, 255, 0.8);*/
	background: transparent;
	background-image: url(images/ie-backgrounds/rgba-ffffff-80.png);
}
